{% extends 'base2.html' %}

{% block content %}

<h1> Users Table </h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">ID Number</th>
      <th scope="col">Phone</th>
      <th scope="col">Staff</th>
      <th scope="col">Profile</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  	{% for User in users %}
    {% if user.is_staff %}
        <tr>
          <th scope="row">{{User.id}}</th>
          <td>{{User.username}}</td>
          <td>{{User.email}}</td>
          <td>{{User.profile.idnumber}}</td>
          <td>{{User.profile.phone}}</td>
          <td>{{User.is_staff}}</td>
          <td><a href="{% url 'get_user' User.username %}" class="btn btn-primary">view</a></td>
          <td ><button onclick="deleteUser('{{User.username}}')" class="btn btn-danger">Delete</button><button class="btn btn-warning mx-1">Edit</button> </td>
        </tr>
        {% else %}
        {% if not User.is_staff %}
        <tr>
          <th scope="row">{{User.id}}</th>
          <td>{{User.username}}</td>
          <td>{{User.email}}</td>
          <td>{{User.profile.idnumber}}</td>
          <td>{{User.profile.phone}}</td>
          <td>{{User.is_staff}}</td>
          <td><a href="{% url 'get_user' User.username %}" class="btn btn-primary">view</a></td>
        </tr>
        {% endif %}
    {% endif %}
    {% endfor %}

   <!--  <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr> -->
  </tbody>
</table>

{% endblock %}