
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: url('/static/home/images/pic.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
.main{
padding: 30px;
    display: flex;
    justify-content: center;
    margin: auto,100px;
  }
  .btn-apply-now-cover{

    
    padding: 20%;
    margin: auto,100px;
  }
 .btn{
    padding: 20px;
 }
 #card{
    background-color: rgb(224, 224, 224);
 }