 
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-image: url('/static/home/images/pic.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}


.footer {
  background-color: grey;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
}

/* Social Media Icons Styles */
.social-media-icons {
  position: fixed; /* Fix the position on the right side */
  top: 50%;
  right: 0;
  transform: translateY(-50%); /* Center vertically */
  background-color: black; /* Set background color to black */
  margin-bottom: 0;
  z-index: 1000; /* Ensure it stays on top */
  padding: 5px; /* Add padding for spacing */
 
}

.social-media-icons ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column; /* Ensure vertical layout */
}

.social-media-icons li {
  margin: 5px 0;
}

.social-media-icons a {
  display: block;
  font-size: 24px;
  color: white;
  background-color: #333; 
  padding: 5px;
  border-radius: 40%;
  transition: transform 0.3s ease;
}

.social-media-icons a:hover {
  transform: scale(1.1);
}

/* Existing Styles */
.navbar {
  background-color: #ffffff;
  color: #333;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar img {
  border-radius: 5px;
}

.navbar .nav-items {
  color: #333;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  align-items: center;
  margin-right: 10px;
}

.navbar a {
  text-decoration: none;
  color: #333;
}

.sidebar h2 {
  text-align: center;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  text-decoration: none;
  color: #333;
}

.sidebar a:hover {
  text-decoration: underline;
}

body {
  background-color: #f4f4f4;
}

.section h2 {
  color: #0056b3;
  border-bottom: 2px solid #0056b3;
  padding-bottom: 5px;
}

.social-media-icons h2 {
  margin-top: 20px;
}

.social-media-icons ul {
  list-style: none;
  padding: 0;
  display: flex;
  
}

.social-media-icons ul li {
  display: inline;
}

.social-media-icons ul li a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

header {
  background-color: #007bff;
  color: white;
  padding: 15px 0;
}

h1, h2 {
  color: #007bff;
}

ul.list-group-item a {
  color: #007bff;
  text-decoration: none;
}

ul.list-group-item a:hover {
  text-decoration: underline;
}

.form-group label {
  color: #333;
}

.table thead th {
  background-color: #343a40;
  color: white;
}

.infographic-section {
  padding: 20px;
  background-color: #007BFF;
  color: white;
  border-radius: 8px;
  margin-top: 20px;
}

.infographic-section h2 {
  font-size: 2.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.stat {
  font-size: 1.5rem;
  margin: 20px 0;
}

.stat h3 {
  font-size: 3rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.stat p {
  font-size: 1rem;
  margin-bottom: 0;
}

.category-stat {
  font-size: 1.2rem;
  margin-top: 20px;
}

.category-stat img {
  max-width: 50px;
  margin-bottom: 10px;
}

.image img {
  width: 150px;
  margin-bottom: 10px;
}

.text {
  font-size: 24px;
}

.blue {
  color: #4c91ce;
}

.blue-bold {
  color: #4c91ce;
  font-weight: bold;
}

.filterbar {
  top: 120px;
  left: 20px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
  width: calc(100% - 40px);
}

.filterbar .form-select {
  flex: 1;
  margin-right: 10px;
}

.job-card {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  position: absolute;
  top: 200px;
  left: 20px;
}

.job-card h5 {
  margin-top: 0;
}
