{% extends 'base1.html' %}

{% block title %} MICSETA | Authenticate {% endblock %}

{% block content %}

<div class="main-form">

	<div class="wrapper" id="wrapper-sign-in">

    <form action="" id="login-form" method="POST">
        <h1>Login</h1>
        <div class="spinner"></div>
        <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email Address" id="lemail" aria-label="Email" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <input type="password" name="password" id="lpassword" class="form-control" placeholder="Password" required>
        </div>
        <div class="remember-forgot">
            <label><input type="checkbox">Remember Me</label>
            <a href="{% url 'find_account' %}">Forgot Password?</a>
        </div>
        <button type="button" class="btn" id="btn-signin" style="background-color: blue;color: white;">Login</button>
        <div class="register-link">
            <p>Don't have an account? <a href="#" id="btn-sign-up">Sign Up</a></p>
        </div>
    </form>
<!-- =======
		<form action="" id="login-form" method="POST">
	<h1>Login</h1>
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text" id="basic-addon1">@</span>
		</div>
		<input type="email" class="form-control" placeholder="Email" name="lemail" id="lemail" aria-label="Email" aria-describedby="basic-addon1">
	</div>
	<div class="input-box">
		<input type="password" name="password" id="lpassword" placeholder="Password" required>
		<i class='bx bxs-lock-alt' ></i>
	</div>
	<div class="remember-forgot">
		<label><input type="checkbox">Remember Me</label>
		<a href="{% url 'find_account' %}">Forgot Password?</a>
	</div>
	<button type="button" class="btn" id="btn-signin">Login</button>
	<div class="register-link">
		<p>Don't have an account? <a href="#" id="btn-sign-up">Sign Up</a></p>
	</div>
</form> -->
</div>
	
 

<div class="wrapper" id="wrapper-sign-up">
    <form action="" id="signup-form" method="POST">
        <h1>Sign Up</h1>
        <h6 > Add your details, to create an account and start 
            preparing your documents.</h6>
        

        <div class="input-group mb-3">
        
            <input type="text" name="username" id="username" class="form-control" placeholder="Surname" required>
        <br>
            <input type="email" name="email" id="email" class="form-control" placeholder="Email Address" required>
        </div>
        <div class="input-group mb-3">
            <input type="text" name="idnumber" id="idnumber" class="form-control" placeholder="ID Number" required>
            <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
        </div>
        <div class="input-group mb-3">
            <input type="password" name="password2" id="password2" class="form-control" placeholder="Confirm Password" required>
        </div>
        <button type="button" class="btn" id="btn-signup" style="background-color: blue;color: white;">Create account</button>
        <div class="register-link">
            <p>Already have an account? <a href="#" id="btn-sign-in">Sign In</a></p>
        </div>
    </form>
</div>

</div>

{% endblock %}
