<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MICSETA | Home</title>
	{% load static %}
    
<link rel="stylesheet" href="{% static 'authenticate/css/style.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="shortcut icon" href="{% static 'authenticate/images/webicon.png' %}" type="image/x-icon">  
    <style>
    .job-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    background-color: white;
    width: 50%;
}

.job-card h5 {
    margin-bottom: 8px;
}

.job-card .details {
    color: #666;
    font-size: 0.9em;
}

.job-card p {
    font-size: 0.9em;
    margin-bottom: 8px;
}

.job-card .btn-link {
    font-size: 0.9em;
    padding: 0;
}

    </style>
</head>
<body>

	   
        <nav id="navbar" class="navbar navbar-expand-lg bg-body-primary">
            <div class="container-fluid">
		<div class="logo" id="logo">
      <img class="nav-logo" src="{% static 'authenticate/images/mict_logo.png' %}" alt="Logo">
        </div>
              
             <div class="nav-items">
                <button id="navbar-toggler" class="navbar-toggler" type="button" 
                data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" 
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                     
                      </li>
                     
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'about_us' %}">About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact_us' %}">Contact</a>
                      </li>
                      {% if user.is_authenticated %}
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'job_seeker_dashboard' %}">Job Seeker</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'render_auth_page' %}">Job Seeker</a>
                  </li>
                    {% endif %}
                      {% if user.is_authenticated %}
                      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                        <ul class="navbar-nav">
                          <li class="nav-item dropdown">
                            <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                              Dashboard
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark">
                              
                              {% if user.is_superuser and user.staffprofile.department == "ADMINISTRATOR" or user.is_superuser and user.staffprofile.department == "ADMINISTRATOR" %}
                               <li><a class="dropdown-item" href="{% url 'dashboard.panel' %}">Dashbaord</a></li>
                              {% else %}
                              <li><a class="dropdown-item" href="{% url 'dashboard.emp_panel' %}">Dashbaord</a></li>
                              {% endif %}
                              <li><a class="dropdown-item" href="{% url 'render_profile_page' %}">View Profile</a></li>
                              <li>
                                <a class="dropdown-item" data-bs-toggle="modal" 
                                data-bs-target="#staticBackdrop">Logout</a></li>
                             
                          
                            </ul>
                          </li>
                        </ul>
                      </div>
                     {% else %}
                        <li class="nav-item">
                       <a class="nav-link" href="{% url 'render_auth_page' %}">Login</a>
                     </li>
                     {% endif %}
                    </ul>
                  </div>
             </div>
            </div>
          </nav>
        
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Logout</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Are you sure you want to logout?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><a class="dropdown-item" href="{% url 'log_out' %}">Yes Logout</a></button>
                  
                </div>
              </div>
            </div>
          </div>
    
      <img width="100%" src="static/authenticate/images/Company-images/mict-seta-slider2.jpg" alt="Descriptive Alt Text">
 
    <div class="filterbar"> 
        <select class="form-select" aria-label="Default select example">
            <option selected>Choose job-type</option>
            <option value="Full Time">Full Time</option>
            <option value="Part Time">Part Time</option>
            <option value="Partially remote">Partially remote</option>
          </select>
          <select class="form-select" aria-label="Default select example">
            <option selected>Location</option>
            <option value="1">Western Cape</option>
            <option value="2">Limpopo</option>
            <option value="3">North West</option>
            <option value="3">Mpumalanga</option>
            <option value="3">Gauteng</option>
            <option value="3">KwaZulu-Natal</option>
            <option value="3">Northern Cape</option>
            <option value="3">Eastern Cape</option>
          </select>
          <select class="form-select" aria-label="Default select example">
            <option selected>Salary</option>
            <option value="Less than R10,000">Less than R10,000</option>
            <option value="R10,000 - R20,000">R10,000 - R20,000</option>
            <option value="R20,000 - R30,000">R20,000 - R30,000</option>
            <option value="R30,000 - R40,000">R30,000 - R40,000</option>
            <option value="R50,000 - More">R50,000 - More</option> 
          </select>
    </div>
   
 {% if jobs %}
        {% for job in jobs %}

        <div class="job-card">
            <h3><strong>{{job.title}}</strong></h3>
            <div class="details">
                <span><strong>Location</strong> : {{job.location}}</span> |
                <span>South Africa</span> |
                <span><strong>Closing Date</strong> : {{ job.end_date}}</span>
            </div>
            <p>{{job.description}}</p>
            <a href="">See more...</a>
        </div>
      
        {% endfor %}
{% else %}
  <div class="container mt-5">
        <div class="job-card">
            <h3>No Jobs Available.</h3>
            
        </div></div>
{% endif %}
       
        
       
       <div class="social-media-icons">
        <ul>
               <h2>Follow us on:</h2>
            <li><a href="https://www.facebook.com/people/MICT-SETA/100064473800888/" target="_blank"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://x.com/MictSeta?ref_src=twsrcgoogletwcampserptwgrauthor" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/company/mict-seta" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="https://www.instagram.com/mictseta/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>
  <footer class="footer">
                <p>© 2024 All rights reserved | The Media, Information and Communication Technologies Sector Education and Training Authority</p>
            </footer>
 
 
	<script src="{% static 'authenticate/javascripts/index.js'%}"></script>

	<script src="{% static 'authenticate/javascripts/login.js'%}"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
	integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>