<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>landing</title>
</head>
<body>
	<h1>Landing PAge Goes here</h1> 


	<p> Links</p>
	<ul>
		<li>landing page: <a href="">http://127.0.0.1:8000/</a></li>
		<li>sign in page: <a href="">http://127.0.0.1:8000/auth/sign_in</a></li>
		<li>sign up  page: <a href="">http://127.0.0.1:8000/auth/sign_up</a></li>
		<li>logout  link: <a href="">http://127.0.0.1:8000/auth/log_out</a></li>
	</ul>
</body>
</html>