<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>reset password</title>
	   <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container justify-content-center">
	<div class= "col-6" style="margin-top: 50px; ">
		<h1>Change your password {{username}}</h1>


		<form method="POST">
			<div class="input-group mb-3">
			  <span class="input-group-text" id="basic-addon1">password</span>
			  <input type="text" class="form-control" placeholder="password" aria-label="password" aria-describedby="basic-addon1" name="password">
			</div>
			<div class="input-group mb-3">
			  <span class="input-group-text" id="basic-addon1">re-password</span>
			  <input type="re-password" class="form-control" placeholder="re-password" aria-label="re-password" aria-describedby="basic-addon1" name="re-password">
			</div>
			<input type="submit" name="submit" value="submit & Save" class="btn btn-primary"/>
		</form>	
		
	</div>

</div>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
	integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>