{% extends 'base1.html' %}

{% block title %} MICSETA | Reset Password {% endblock %}

{% block content %}
 
<div class="container mt-5" id="resetPasswordContainer">
    <h1 class="text-center mb-4">Reset Password</h1>
    <form id="resetPasswordForm" onsubmit="return validateEmailForm()">
        <div class="w-65">
            <div class="form-group">
                <label for="new_password">New Password</label>
                <input type="password" class="form-control" name="new_password" id="new_password" placeholder="Enter new password" required>
            </div>
            <div class="form-group">
                <label for="new_password2">Confirm New Password</label>
                <input type="password" class="form-control" name="new_password2" id="new_password2" placeholder="Confirm new password" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Update Password</button>
        </div>
       
    </form>
    <div id="flashMessage" class="alert mt-3" style="display: none;"></div>
</div>

{% endblock %}
