<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> log in </title>
	{% load static %}
    
<link rel="stylesheet" href="{% static 'authenticate/css/style.css' %}">
</head>
<body>
	<h1>log in page goes here</h1>
	<!--Here will be all the codes for login-->





	<!--Please don't mind this codes they are for bootstrap and the js file-->

	{% load static %}
	<script src="{% static 'authenticate/javascripts/index.js'%}"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
	integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>