*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}

body{   
    background: url('../images/TR3-PomWriz70Pl6.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
p{
    margin-bottom: 0px;
}
.wrapper{
    margin: 100px auto ;
    width: 420px;
    background: white;
    color: blue;
    border-radius: 12px;
    padding: 30px 40px;
}
.wrapper h1{
   font-size: 36px;
   text-align: center; 
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 50%;
   
    outline: none;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 16px;
    color:black;
    padding:20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: black;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
    
}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forgot label input{
    accent-color: white;
    margin-right: 3px;

}
.remember-forgot a{
    color: blue;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: blue;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;

}
.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p a{
    color: blue;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}


/*Form to signup
Please style this form  

*/
.wrapper-sign-up{
    margin: 100px auto;
    display: none;
    width: 100%;
    background: white;
    
    border-radius: 12px;
    padding: 30px 40px;
}
.wrapper-sign-up h1{
   font-size: 36px;
   text-align: center; 
}

/* form to index
*/

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    align-items:center ;
    margin-right: 10px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.filterbar {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}

.filterbar ul {
    list-style-type: none;
    display: flex;
}

.filterbar ul li {
    margin-right: 10px;
}

.filterbar a {
    text-decoration: none;
    color: white;
}

input[type="text"] {
    padding: 5px;
    /*border: none;*/
}

select {
    padding: 5px;
    border: none;
}


.content-area {
    background-color: #ccc;
    padding: 30px;
    width: 70%;
    margin: 30px auto;
    
    
}

.sidebar {
    background-color: #e0e0e0;
    padding: 20px;
    width: 20%;
    position: fixed;
    top: 100px;
    right: 0;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin: 10px 0;
}

.sidebar a {
    text-decoration: none;
    color: #333;
}

.sidebar a:hover {
    text-decoration: underline;
}

.social-sidebar {
    position: fixed;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
}

.social-sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-sidebar li {
    margin: 10px 0;
}

.social-sidebar a {
    display: block;
}

.social-sidebar img {
    width: 30px;
    height: 30px;
}
.content-area {
    text-align: center;
    margin: 20px;
}

.job-images {
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.job {
    margin-top: 20px;
}

.job img {
    width: 200px;
    height: 150px;
    align-items: center;
}

.job p {
    margin-top: 10px;
}

.footer {
    background-color: #003366;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 150%;
    position:fixed;
    bottom: 0;
}