{% extends 'job_seeker_dashboard.html' %}

{% block title %}Address Information{% endblock %}

{% block content %}
<div class="address-section">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Address Details</li>
        </ol>
    </nav>
    
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <!-- Residential Address Section -->
            <div class="col-md-6">
                <h4>Residential Address </h4>
                <div class="mb-3">
                    <label for="residential_street_address" class="form-label">Street Address</label>
                    <input type="text" class="form-control" id="residential_street_address" name="residential_street_address">
                </div>
                <div class="mb-3">
                    <label for="residential_city" class="form-label">City</label>
                    <input type="text" class="form-control" id="residential_city" name="residential_city">
                </div>
                <div class="mb-3">
                    <label for="residential_province" class="form-label">Province</label>
                    <select class="form-control" id="residential_province" name="residential_province">
                        <option value="">Select Province</option>
                        <option value="Eastern Cape">Eastern Cape</option>
                        <option value="Free State">Free State</option>
                        <option value="Gauteng">Gauteng</option>
                        <option value="KwaZulu-Natal">KwaZulu-Natal</option>
                        <option value="Limpopo">Limpopo</option>
                        <option value="Mpumalanga">Mpumalanga</option>
                        <option value="Northern Cape">Northern Cape</option>
                        <option value="North West">North West</option>
                        <option value="Western Cape">Western Cape</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="residential_postal_code" class="form-label">Postal Code</label>
                    <input type="text" class="form-control" id="residential_postal_code" name="residential_postal_code">
                </div>
            </div>

            <!-- Postal Address Section -->
            <div class="col-md-6">
                {% if user.address  %}
               <p> street : {{user.address.street_address_line}}</p>
               <p> city : {{user.address.city}}</p>
               <p> province : {{user.address.province}}</p>
               <p> postal code : {{user.address.postal_code}}</p>
               <p> street address : {{user.address.street_address_line}}</p>
                {% endif %}
            </div>
        </div>

        <button type="button" onclick="handle_update_address_button_click()" class="btn btn-primary">Save Address</button>
    </form>
</div>
{% endblock %}
