{% extends 'job_seeker_dashboard.html' %}

{% block title %}Application Tracking{% endblock %}

{% block content %}
<div class="application-tracking" style="padding: 20px; font-family: Arial, sans-serif;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Application Tracking</li>
        </ol>
      </nav>
    <table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
        <thead>
            <tr style="background-color: #f8f8f8; border-bottom: 2px solid #ddd;">
                <th style="padding: 10px; text-align: left; font-weight: bold;">Date Received</th>
                <th style="padding: 10px; text-align: left; font-weight: bold;">Job title</th>
                <th style="padding: 10px; text-align: left; font-weight: bold;">Message</th>
                <th style="padding: 10px; text-align: left; font-weight: bold;">Status</th>
                <th style="padding: 10px; text-align: left; font-weight: bold;">Action</th>


            </tr>
        </thead>
        <tbody>
            {% if feedback_list %}
                {% for feedback in feedback_list %}
                <tr style="border-bottom: 1px solid #eee;">
                    <td style="padding: 10px;">{{ feedback.timestamp|date:"Y-m-d" }}</td>
                    <td style="padding: 10px;">{{ feedback.job.title }}</td>
                    <td style="padding: 10px;">{{ feedback.message }}</td>
                    <td style="padding: 10px;">{{ feedback.status }}</td>
                     <td style="padding: 10px;"><a href="{% url 'delete_feadback' feedback.id %}" class="btn btn-danger"><i class="fa fa-trash"></i> </a> <td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="2" style="padding: 20px; text-align: center; color: #999;">No feedback available.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
