{% extends 'job_seeker_dashboard.html' %}

{% block title %}Computer Skills{% endblock %}

{% block content %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div id="computer-skills" class="content-section active">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Computer Skills</li>
        </ol>
    </nav>
    <form class="mt-4">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="skill2" class="col-sm-2 col-form-label">Computer Skill</label>
                    <select class="form-control" id="skill3" name="skill3" >
                        <option value="">Select a skill</option>
                        {% for computer in computers %}
                            <option value="{{computer.id}}">{{computer.skill}}</option>

                       {% endfor %}
                    </select>
                </div>
                <div class="form-group" id="other-skill-group" style="display: none;">
                    <label for="otherSkill">Please specify:</label>
                    <input type="text" class="form-control" id="otherSkill" name="otherSkill">
                </div>
                <div class="form-group">
                    <label for="proficiency">Proficiency Level:</label>

                    <select id="level" class="form-control">
                        {% for proficiency in proficiencys %}
                            <option value="{{proficiency.id}}">{{proficiency.level}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="list-group">
                    {% for skill in user.computerskills_set.all %}
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ skill.skill }}</h5>
                            <span class="badge rounded-pill"><i class="fas fa-trash fa-2x text-danger"></i></span>
                        </div>
                        <small>{{ skill.proficiency.level }}</small>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                <button type="button" onclick="handle_update_computer_skill_button_click()" class="btn btn-primary">Update</button>
            </div>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
function toggleOtherSkill() {
    var skillSelect = document.getElementById('skill1');
    var otherSkillGroup = document.getElementById('other-skill-group');
    if (skillSelect.value === 'Other') {
        otherSkillGroup.style.display = 'block';
    } else {
        otherSkillGroup.style.display = 'none';
    }
}
</script>

{% endblock %}
