{% extends 'job_seeker_dashboard.html' %}

{% block title %}Computer Skills{% endblock %}

{% block content %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div id="computer-skills" class="content-section active">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Computer Skills</li>
        </ol>
    </nav>
    <form class="mt-4">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="skill1" class="col-sm-2 col-form-label">Computer Skill</label>
                    <select class="form-control" id="skill1" name="skill1">
                        <option value="">Select a skill</option>
                        <option value="Software Development">Software Development</option>
                        <option value="Degrees & Certificates">Degrees & Certificates</option>
                        <option value="Artificial Intelligence">Artificial Intelligence</option>
                        <option value="Networking & Wireless">Networking & Wireless</option>
                        <option value="SEO / SEM Marketing">SEO / SEM Marketing</option>
                        <option value="Business Analysis">Business Analysis</option>
                        <option value="Machine Learning">Machine Learning</option>
                        <option value="Cybersecurity">Cybersecurity</option>
                        <option value="Data Analysis">Data Analysis</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="proficiency">Proficiency Level:</label>
                    <select id="level" class="form-control">
                        <option value="beginner">Beginner</option>
                        <option value="intermediate">Intermediate</option>
                        <option value="advanced">Advanced</option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="list-group">
                    {% for skill in user.skills.all %}
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ skill.skill }}</h5>
                            <span class="badge rounded-pill"><i class="fas fa-trash fa-2x text-danger"></i></span>
                        </div>
                        <small>{{ skill.level }}</small>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                <button type="button" class="btn btn-primary">Update</button>
            </div>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}
