{% extends 'job_seeker_dashboard.html' %}

{% block title %}Job Information{% endblock %}

{% block content %}

<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="job-details-container">
  <div class="card shadow  mb-5 bg-body rounded">
    <div class="card-header">
      Job Title: <span id="jobTitle">{{jobs.title}}</span>
    </div>
    <div class="card-body">
      <p class="card-text">
        <strong>Description:</strong> <span id="jobDescription">{{jobs.description}}</span>
      </p>
      <p class="card-text">
        <strong>End Date:</strong> <span id="endDate">{{jobs.end_date}}</span>
      </p>
      <p class="card-text">
        <strong>Location:</strong> <span id="location">{{jobs.location}}</span>
      </p>
      <p class="card-text">
        <strong>Salary Range:</strong> <span id="salaryRange">{{jobs.salary_range}}</span>
      </p>
      <p class="card-text">
        <strong>Job Type:</strong> <span id="jobType">{{jobs.job_type}}</span>
      </p>
      <p class="card-text">
        <strong>Industry:</strong> <span id="industry">{{jobs.industry}}</span>
      </p>
      <p class="card-text">
        <strong>Status:</strong> <span id="status">{{jobs.status}}</span>

      </p>
    </div>
    <div class="card-footer">
      <a href="{% url 'dashboard.view_jobs' %}" class="btn btn-secondary">Back to Job List</a>
    </div>
  </div>

  <div class="card m-2 shadow mb-5 bg-body rounded">
    <div class="card-header bg-secondary">
      Academic Requirements
    </div>
    <div class="card-body">
     <ul class="list-group list-group-flush">
                {% for education in jobs.educations.all %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">{{education.field_of_study}}</div>
                       {{education.nqf_level}}
                    </div>    
                </li>
                
                {% endfor %}
              </ul>
    </div>

  </div>


  <div class="card m-2 shadow mb-5 bg-body rounded">
    <div class="card-header bg-secondary">
      Skills & Knowledge Requirements
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
                {% for skill in jobs.C_skills.all %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">{{skill.name}} -  {% if skill.is_required %} <span class="text-danger">required</span>{% endif %}</div>
                      {{skill.level}} 
                    </div>
                    
                </li>
                
                {% endfor %}
                {% for skill in jobs.S_skills.all %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">{{skill.name}} -  {% if skill.is_required %} <span class="text-danger">required</span>{% endif %}</div>
                      {{skill.level}} 
                    </div>
                    
                </li>
                
                {% endfor %}
              </ul>
    </div>

  </div>



   <div class="card m-2 shadow mb-5 bg-body rounded">
    <div class="card-header bg-secondary">
      Experience Requirements
    </div>
    <div class="card-body">
    <ul class="list-group list-group-flush">
                {% for experience in jobs.experiences.all %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">{{experience.name}}</div>
                       {{experience.duration}} years
                       
                    </div>
                    
                </li>
                
                {% endfor %}
              </ul>
    </div>
    
  </div>

  <div class="card m-2 shadow mb-5 bg-body rounded">
    <div class="card-header bg-secondary">
      Job Requirements & Responsibilities 
    </div>
    <div class="card-body">
    <ul class="list-group list-group-flush">
              {% for requirement in jobs.requirements.all %}
              <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold"></div>
                    {{requirement.description}}
                  </div>
                  
                  
              </li>
              
              {% endfor %}
            </ul>
    </div>
  </div>



</div>
    {% if jobs.id in user.applications.all %}
     <button class="btn btn-primary" disabled>you already applied for this job</button>
    {% else %}
     <a href="{% url 'quiz_test' jobs.id %}" class="btn btn-primary">Apply</a>

    {% endif %}

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}
