{% extends 'job_seeker_dashboard.html' %}

{% block title %}Language & Proficiency{% endblock %}

{% block content %}
<div class="language-proficiency">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Language & Proficiency</li>
        </ol>
    </nav>

    <div class="language-form d-flex justify-content-between">
        <div class="col-6">
            <div class="form-group">
                <label for="language">Language:</label>
                <select id="language" class="form-control">
                    <option value="">Select a language...</option>
                    <option value="afrikaans">Afrikaans</option>
                    <option value="english">English</option>
                    <option value="isindebele">IsiNdebele</option>
                    <option value="isixhosa">IsiXhosa</option>
                    <option value="isizulu">IsiZulu</option>
                    <option value="sesotho">Sesotho</option>
                    <option value="sesothosa">Sesotho sa Leboa</option>
                    <option value="setswana">Setswana</option>
                    <option value="siswati">SiSwati</option>
                    <option value="tshivenda">Tshivenda</option>
                    <option value="xitsonga">Xitsonga</option>
                </select>
            </div>

            <div class="form-group">
                <label for="reading">Reading Proficiency level:</label>
                <select id="reading" class="form-control">
                    <option value="">Choose an option</option>
                    
                    <option value="fair">Fair</option>
                    <option value="good">Good</option>

                    <option value="expert">Very Good</option>
                </select>
            </div>

            <div class="form-group">
                <label for="writing">Writing Proficiency level:</label>
                <select id="writing" class="form-control">
                    <option value="">Choose an option</option>
                    
                    <option value="fair">Fair</option>
                    <option value="good">Good</option>

                    <option value="expert">Very Good</option>
                </select>
            </div>

            <div class="form-group">
                <label for="speaking">Speaking Proficiency level:</label>
                <select id="speaking" class="form-control">
                    <option value="">Choose an option</option>
                    
                    <option value="fair">Fair</option>
                    <option value="good">Good</option>

                    <option value="expert">Very Good</option>
                </select>
            </div>

            <button id="add-language" onclick="handle_update_language_button_click()" class="btn btn-primary">Add</button>
        </div>
        <div class="col-6">
            <div class="list-group">
                {% for language in user.languages.all %}
                  <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">{{language.language}}</h5>
                     <span class="badge rounded-pill"><i class="fas fa-trash fa-2x text-danger"></i></span>
                    </div>
                    
                    <small>Reading: {{language.reading_proficiency}}</small><br>
                    <small>Writing: {{language.writing_proficiency}}</small><br>
                    <small>Speaking: {{language.speaking_proficiency}}</small>
                  </a>
              {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
