{% extends 'job_seeker_dashboard.html' %}

{% block title %}Logout{% endblock %}

{% block content %}
<style>
    .modal.show.d-block {
        display: flex !important;
        align-items: center;
        justify-content: center;
        min-height: 120vh;
        overflow: hidden;
    }
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'my_profile' %}">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'jobseeker.job_details' %}">Job Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'application_tracking' %}">Application Tracking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'interviews' %}">Interviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'feedback' %}">Feedback</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'log_out' %}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

     <!-- Logout Modal -->
     <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Logout</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to logout?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><a class="dropdown-item" href="{% url 'log_out' %}">Yes Logout</a></button>
                </div>
            </div>
        </div>
    </div>

</body>
{% endblock %}
