{% extends 'job_seeker_dashboard.html' %}

{% block title %}Personal Details{% endblock %}

{% block content %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div id="personal_details" class="content-section active">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Personal details & Contact details</li>
        </ol>
    </nav>

    <form>
        <div class="row">
            <!-- Personal Details Section -->
            <div class="col-md-6">
                <!-- Title Dropdown -->
                <div class="form-group">
                    <label for="title">Title</label>
                    <select class="form-control" id="title" name="title" onchange="toggleOtherTitleInput(this)">
                        <option value="" {% if not user.profile.title %}selected{% endif %}>Select Title</option>
                        <option value="Mr" {% if user.profile.title == "Mr" %}selected{% endif %}>Mr</option>
                        <option value="Mrs" {% if user.profile.title == "Mrs" %}selected{% endif %}>Mrs</option>
                        <option value="Ms" {% if user.profile.title == "Ms" %}selected{% endif %}>Ms</option>
                        <option value="Dr" {% if user.profile.title == "Dr" %}selected{% endif %}>Dr</option>
                        <option value="Prof" {% if user.profile.title == "Prof" %}selected{% endif %}>Prof</option>
                        <option value="Other" {% if user.profile.title == "Other" %}selected{% endif %}>Other</option>
                    </select>
                    <input type="text" class="form-control mt-2" id="title_other_input" name="title_other" style="display: {% if user.profile.title == 'Other' %}block{% else %}none{% endif %};" placeholder="Please specify">
                </div>

                <div class="form-group">
                    <label for="id-number">ID Number</label>
                    <input type="text" class="form-control" id="idnumber" name="idnumber" value="{{user.profile.idnumber}}" disabled>
                </div>
                <div class="form-group">
                    <label for="first-name">First Name <span class="text-danger">*</span> </label>
                    <input type="text" class="form-control" id="first_name" name="first_name" value="{{user.first_name}}">
                </div>
                <div class="form-group">
                    <label for="surname">Surname <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="last_name" name="last_name" value="{{user.last_name}}">
                </div>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <input class="form-control" id="gender" name="gender" value="{{user.profile.gender}}" disabled>
                    <input type="text" class="form-control mt-2" id="gender_other" name="gender_other" style="display: none;" placeholder="Please specify">
                </div>
                <div class="form-group">
                    <label for="marital-status">Marital Status <span class="text-danger">*</span></label>
                    <select class="form-control" id="maritial_status" name="marital_status">
                        <option value="{{user.profile.marital_status}}" selected>{{user.profile.marital_status}}</option>
                        <option value="Married">Married</option>
                        <option value="Single">Single</option>
                        <option value="Dirvoced">Divorced</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="race">Select Race <span class="text-danger">*</span></label>
                    <select class="form-control" id="race" name="race" onchange="toggleOtherInput(this, 'race_other')">
                        <option value="{{user.profile.race}}" selected>{{user.profile.race}}</option>
                        <option value="Black">Black African</option>
                        <option value="Coloured">Coloured</option>
                        <option value="White">White</option>
                        <option value="Other">Other</option>
                    </select>
                    <input type="text" class="form-control mt-2" id="race_other" name="race_other" style="display: none;" placeholder="Please specify">
                </div>
                <div class="form-group">
                    <label for="dob">Date of Birth</label>
                    <input type="text" class="form-control" id="dob" name="dob" value="{{user.profile.dob}}" disabled>
                </div>
                <div class="form-group">
                    <label for="disability">Disability</label>
                    <select class="form-control" id="disability" name="disability" onchange="toggleOtherInput(this, 'disability_other')">
                        <option value="{{user.profile.disability}}" selected>{{user.profile.disability}}</option>
                        <option value="Hearing">Hearing</option>
                        <option value="Vision">Vision</option>
                        <option value="Mobility">Mobility</option>
                        <option value="Cognitive">Cognitive</option>
                        <option value="Other">Other</option>
                    </select>
                    <input type="text" class="form-control mt-2" id="disability_other" name="disability_other" style="display: none;" placeholder="Please specify">
                </div>
            </div>

            <!-- Contact Details Section -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" name="email" value="{{user.email}}">
                </div>
                <div class="form-group">
                    <label for="telephone">Phone Number <span class="text-danger">*</span></label>
                    <input type="tel" class="form-control" id="phone" name="phone" value="{{user.profile.phone}}">
                </div>
                <div class="form-group">
                    <label for="linkedin-profile">LinkedIn Profile</label>
                    <input type="url" class="form-control" id="linkedin_profile" name="linkedin_profile" value="{{user.profile.linkedin_profile}}">
                </div>
                <div class="form-group">
                    <label for="personal-website">Personal Website</label>
                    <input type="url" class="form-control" id="personal_website" name="personal_website" value="{{user.profile.personal_website}}">
                </div>
            </div>
        </div>
        <button type="button" role="button" onclick="handle_update_profile_info_button_click()" class="btn btn-primary">Update</button>
    </form>
</div>

<script>
    function toggleOtherInput(selectElement, otherInputId) {
        var otherInput = document.getElementById(otherInputId);
        if (selectElement.value === "Other") {
            otherInput.style.display = "block";
        } else {
            otherInput.style.display = "none";
        }
    }

    // Show or hide "Other" title input
    function toggleOtherTitleInput(selectElement) {
        var otherInput = document.getElementById("title_other_input");
        if (selectElement.value === "Other") {
            otherInput.style.display = "block";
        } else {
            otherInput.style.display = "none";
        }
    }
</script>

{% endblock %}
