{% extends 'job_seeker_dashboard.html' %}

{% block title %}Personal Details{% endblock %}

{% block content %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
 
<style>
    body {
        background-color: #f8f9fa;
        padding: 10px;
    }

    .content-section {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .content-section h2 {
        margin-bottom: 20px;
    }

    .form-group label {
        font-weight: bold;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }
</style>
<div id="personal_details" class="content-section active">
    <div class="row">
        <div class="col-md-6">
            <h2 class="mb-4">Personal Details</h2>
        </div>
        <div class="col-md-6">
            <h2 class="mb-4">Contact Details</h2>
        </div>
    </div>
    <form>
        <div class="row">
            <!-- Personal Details Section -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="id-number">ID Number</label>
                    <input type="text" class="form-control" id="idnumber" name="idnumber" value="{{user.profile.idnumber}}" disabled>
                </div>
                <div class="form-group">
                    <label for="first-name">First Name</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" value="{{user.first_name}}">
                </div>
                <div class="form-group">
                    <label for="surname">Surname</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" value="{{user.last_name}}">
                </div>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <select class="form-control" id="gender" name="gender">
                        <option value="{{user.profile.gender}}" selected>{{user.profile.gender}}</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                    </select>
                </div>
                <div class="form-group">
                    <label for="marital-status">Marital Status</label>
                    <select class="form-control" id="marital_status" name="marital_status">
                        <option value="{{user.profile.marital_status}}" selected>{{user.profile.marital_status}}</option>
                        <option value="Married">Married</option>
                        <option value="Single">Single</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="race">Select Race</label>
                    <select class="form-control" id="race" name="race">
                        <option value="{{user.profile.race}}" selected>{{user.profile.race}}</option>
                        <option value="Black">Black</option>
                        <option value="Coloured">Coloured</option>
                        <option value="White">White</option>
                        <option value="Indian">Indian</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="dob">Date of Birth</label>
                    <input type="text" class="form-control" id="dob" name="dob" value="{{user.profile.dob}}" >
                </div>
                <div class="form-group">
                    <label for="disability">Disability</label>
                    <select class="form-control" id="disability" name="disability">
                        <option value="{{user.profile.disability}}" selected>{{user.profile.disability}}</option>
                        <option value="None">None</option>
                        <option value="Hearing">Hearing</option>
                        <option value="Vision">Vision</option>
                        <option value="Mobility">Mobility</option>
                        <option value="Cognitive">Cognitive</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>
           
            <!-- Contact Details Section -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" name="email" value="{{user.email}}">
                </div>
                <div class="form-group">
                    <label for="telephone">Telephone</label>
                    <input type="tel" class="form-control" id="phone" name="phone" value="{{user.profile.phone}}">
                </div>
                <div class="form-group">
                    <label for="linkedin-profile">LinkedIn Profile</label>
                    <input type="url" class="form-control" id="linkedin_profile" name="linkedin_profile" value="{{user.profile.linkedin_profile}}">
                </div>
                <div class="form-group">
                    <label for="personal-website">Personal Website</label>
                    <input type="url" class="form-control" id="personal_website" name="personal_website" value="{{user.profile.personal_website}}">
                </div>
            </div>
        </div>
        <button type="button" role="button" onclick="handle_update_profile_info_button_click()" class="btn btn-primary">Update</button>
    </form>
</div>

{% endblock %}
