{% extends 'job_seeker_dashboard.html' %}

{% block title %}Supporting Documents{% endblock %}

{% block content %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>
    .content-section {
        padding: 0px;
    }
    
    .form-group input, .form-group select {
        border-radius: 0;
    }
    .form-group button {
        border-radius: 0;
    }
</style>

<div id="supporting-documents" class="content-section active">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Supporting Documents</li>
        </ol>
      </nav>
    <form class="mt-4">
        <div class="form-group">
            <label for="drivers-license">Driver's License</label>
            <input type="file" class="form-control-file" id="drivers-license" name="drivers-license">
        </div>
        <div class="form-group">
            <label for="document-choice">Choose ID or Passport</label>
            <select class="form-control" id="document-choice">
                <option value="id">Choose ID or Passport...</option>
                <option value="id">ID</option>
                <option value="passport">Passport</option>
            </select>
        </div>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="file" class="form-control-file" id="id" name="id" disabled>
        </div>
        <div class="form-group">
            <label for="passport">Passport</label>
            <input type="file" class="form-control-file" id="passport" name="passport" disabled>
        </div>
        <button type="submit" class="btn btn-primary">Upload Documents</button>
    </form>
</div>

<script>
    document.getElementById('document-choice').addEventListener('change', function() {
        var choice = this.value;
        if (choice === 'id') {
            document.getElementById('id').disabled = false;
            document.getElementById('passport').disabled = true;
            document.getElementById('passport').value = ""; // Clear file input
        } else if (choice === 'passport') {
            document.getElementById('id').disabled = true;
            document.getElementById('id').value = ""; // Clear file input
            document.getElementById('passport').disabled = false;
        }
    });
</script>

{% endblock %}
