{% extends 'job_seeker_dashboard.html' %}

{% block title %}Supporting Documents{% endblock %}

{% block content %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>
    .content-section {
        padding: 0px;
    }
    
    .form-group input, .form-group select {
        border-radius: 0;
    }
    .form-group button {
        border-radius: 0;
    }
</style>

<div id="supporting-documents" class="content-section active">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Supporting Documents</li>
        </ol>
      </nav>
    <form class="mt-4 " id="license-upload-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="drivers-license">Driver's License</label>
            <input type="file" class="form-control-file" id="drivers-license" name="document">
            <input type="text" class="form-control-file"  name="type" value="license" hidden >
            <button class="btn btn-primary "onclick="uploadDocument( 'license')"> Upload</button>
        </div>
    </form>
    <form id="id-upload-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="id">ID</label>
            <input type="file" class="form-control-file" id="id" name="document">
            <input type="text" class="form-control-file"  name="type" value="id" hidden >
             <button class="btn btn-primary "onclick="uploadDocument( 'id')"> Upload</button>
        </div>
    </form>
    <form id="passport-upload-form" method="POST" enctype="multipart/form-data" > 
        {% csrf_token %}
        <div class="form-group">
            <label for="passport">Passport</label>
            <input type="file" class="form-control-file" id="passport" name="document">
            <input type="text" class="form-control-file"  name="type" value="passport" hidden >
             <button class="btn btn-primary "onclick="uploadDocument( 'passport')"> Upload</button>
        </div>
    </form>
    
</div>

{% endblock %}
