{% extends 'job_seeker_dashboard.html' %}

{% block title %}Working Experience{% endblock %}

{% block content %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>
    .content-section {
        padding: 20px;
    }
    
    .form-group input, .form-group select {
        border-radius: 0;
    }
    .form-group button {
        border-radius: 0;
    }
</style>

<div id="working-experience" class="content-section active">
    <h2 class="mb-4">Working Experience</h2>
    <form class="mt-4">
        <!-- Job Experience 1 -->
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="job-title1" class="form-label">Job Title</label>
                <input type="text" class="form-control" id="job-title1" name="job-title1">
            </div>
            <div class="col-md-6">
                <label for="company1" class="form-label">Company</label>
                <input type="text" class="form-control" id="company1" name="company1">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="location1" class="form-label">Location</label>
                <input type="text" class="form-control" id="location1" name="location1">
            </div>
            <div class="col-md-3">
                <label for="start-date1" class="form-label">Start Date</label>
                <input type="date" class="form-control" id="start-date1" name="start-date1">
            </div>
            <div class="col-md-3">
                <label for="end-date1" class="form-label">End Date</label>
                <input type="date" class="form-control" id="end-date1" name="end-date1">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="years-experience1" class="form-label">Years of Experience</label>
                <input type="number" class="form-control" id="years-experience1" name="years-experience1" min="0">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Update</button>
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addExperienceModal">Additional Work Experience</button>
            </div>
        </div>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="addExperienceModal" tabindex="-1" role="dialog" aria-labelledby="addExperienceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addExperienceModalLabel">Add Additional Work Experience</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="job-title2" class="form-label">Job Title</label>
                            <input type="text" class="form-control" id="job-title2" name="job-title2">
                        </div>
                        <div class="col-md-6">
                            <label for="company2" class="form-label">Company</label>
                            <input type="text" class="form-control" id="company2" name="company2">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="location2" class="form-label">Location</label>
                            <input type="text" class="form-control" id="location2" name="location2">
                        </div>
                        <div class="col-md-3">
                            <label for="start-date2" class="form-label">Start Date</label>
                            <input type="date" class="form-control" id="start-date2" name="start-date2">
                        </div>
                        <div class="col-md3">
                            <label for="end-date2" class="form-label">End Date</label>
                            <input type="date" class="form-control" id="end-date2" name="end-date2">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="years-experience2" class="form-label">Years of Experience</label>
                            <input type="number" class="form-control" id="years-experience2" name="years-experience2" min="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">Add</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}
