{% extends 'dashboard_base.html' %}

{% block content %}

	<p id="response"></p>

	<input type="text" class="inputgroup " id="send"> <button class="btn btn-success" onclick="chat()">send</button>








<script type="text/javascript">
	
function chat() {
  const url = 'http://127.0.0.1:8000/ai/chat/';
  const response = document.getElementById('response');
  /*document.getElementById(spinner + jobID).style.display = 'block';
  document.getElementById(content + jobID).style.display = 'none';*/
 
  
  const jsonData = {
    job_post_id: jobID 
  };

  fetch(url, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken': getCookie('csrftoken')
    },
    body: JSON.stringify(jsonData)
  })
  .then(response => {
    return response.json();
  })
  .then(data => {
    if (data.status === "success") {
    	console.log(data.message);
   		response.innerHTML = data.message;

      
    } 
  })
  .catch(error => {
    console.error('Error:', error);
  });
}
</script>
{% endblock %}
