 
.wrapper {
  margin: 100px auto;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}
  
.wrapper h1 {
  font-size: 46px;
  margin: 20px 0;
  color: blue;
}

.wrapper h6 {
  font-size: 18px;
  margin-bottom: 30px;
  color: #003366;
}

.input-group, .input-box {
  width: 100%;
  margin-bottom: 15px;
}

.input-group .form-control, .input-box input, #resetPasswordForm .form-control-sm {
  width: 50%;
  height: 50px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 3px;
  outline: none;
  margin: 0 auto;
  display: block;
}

.input-box input::placeholder {
  color: black;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14.5px;
  color: #003366;
}

.remember-forgot label input {
  accent-color: blue;
  margin-right: 3px;
}

.remember-forgot a {
  color: blue;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn, #login-form .btn {
  width: 100%;
  height: 45px;
  padding: 10px;
  background: transparent;
  border: 2px solid #016e8c;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #016e8c;
  margin: 0 auto;
  display: block;
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 4, 7, 0.25);
}

.register-link {
  font-size: 14.5px;
  margin-top: 20px;
}

.register-link a {
  color:blue;
  text-decoration: none;
  font-weight: 600;
}

.register-link a:hover {
  text-decoration: underline;
}

.spinner {
  display: none;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#wrapper-sign-up {
  display: none;
}
.header-image{
  width: 100%;

}
 
.navbar {
  background-color: #0693e3;
  color: white;
  display: flex;
  justify-content: space-between;
}

.navbar img {
  border-radius: 5px;
}

.navbar a {
  text-decoration: none;
  color: white;
}

 
.navbar ul li {
  align-items: center;
}
 
#flashMessage {
  display: none;
  padding: 10px;
  margin-top: 10px;
}

#resetPasswordContainer {
  max-width: 400px;
  margin: 0 auto;
}   

