{% extends 'dashboard_base.html' %}

{% block title %}Add Staff{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb"
        <li class="breadcrumb-item"><a href="{% url 'dashboard.view_staff' %}"><i class="fa-solid fa-users"></i>Employees</a></li>
        <li class="breadcrumb-item active" aria-current="page"> <i class="fa-solid fa-user-plus"></i>Add Staff Member</li>
    </ol>
</nav>    
{% endblock %}

{% block content %}

{% if user.is_superuser %} 
    {% if user.staffprofile.department == "ADMINISTRATOR" or user.is_superuser and user.staffprofile.department == "MANAGER" %}
        <div class="container my-5" id="addStaffPageComplete" style="display: none;">
            <div class="d-flex flex-column align-items-center">
                <i class="fa fa-user-plus fa-5x text-success mb-3" aria-hidden="true"></i>
                <h4 class="mt-3">Staff User Created Successfully</h4>
                <a href="{% url 'dashboard.view_staff' %}" class="btn btn-warning">View All</a>
            </div>
        </div>

        <div id="addStaffPage" class="form-container">
            <div class="d-flex justify-content-center">
                <div class="card shadow-lg p-4 w-75">
                    <h5 class="card-title mb-4">Add New Staff Member</h5>
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="username">Username:</label>
                                    <input type="text" class="form-control" id="username" name="username" required>
                                </div>
                                <div class="form-group">
                                    <label for="first_name">First Name:</label>
                                    <input type="text" class="form-control" id="first_name" name="first_name">
                                </div>
                                <div class="form-group">
                                    <label for="last_name">Last Name:</label>
                                    <input type="text" class="form-control" id="last_name" name="last_name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="email" class="form-control" id="email" name="email" required>
                                </div>
                                <div class="form-group">
                                    <label for="phone">Phone:</label>
                                    <input type="text" class="form-control" id="phone" name="phone" required>
                                </div>
                                <div class="form-group">
                                    <label for="idnumber">ID Number:</label>
                                    <input type="text" class="form-control" id="idnumber" name="idnumber" required>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password:</label>
                                    <input type="password" class="form-control" id="password" name="password" required>
                                </div>
                                <div class="form-group">
                                    <label for="password2">Confirm Password:</label>
                                    <input type="password" class="form-control" id="password2" name="password2" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="job_title">Job Title:</label>
                                    <select class="form-control" id="job_title" name="job_title" required>
                                        <option value="Assistant">Assistant</option>
                                        <option value="Coordinator">Coordinator</option>
                                        <option value="Manager">Manager</option>
                                        <option value="Director">Director</option>
        
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="department">Department:</label>
                                    <select class="form-control" id="department" name="department" required>
                                        <option value="HR">HR</option>
                                        <option value="IT">IT</option>
                                        <option value="FINANCE">Finance</option>
                                        
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="super">Assign Admin Privileges:</label>
                                    <select class="form-control" id="super" name="super" required>
                                        <option value="False">No</option>
                                        <option value="True">Yes</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="staff">Is Staff:</label>
                                    <select class="form-control" id="staff" name="staff" disabled>
                                        <option value="True" selected>Yes</option>
                                        <option value="False">No</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="salary">Salary:</label>
                                    <select class="form-control" id="salary" name="salary" required>
                                        <option selected>R0,0 - R10,000</option>
                                        <option>R10,000 - R20,000</option>
                                        <option>R20,000 - R30,000</option>
                                        <option>R30,000 - R40,000</option>
                                        <option>R40,000 - R50,000</option>
                                        <option>R50,000 - R60,000</option>
                                        <option>R60,000 +</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="rate">Rate per Hour:</label>
                                    <input type="text" class="form-control" id="rate" name="rate">
                                </div>
                                <div class="form-group position-relative">
                                    <label for="start_time">Start Time:</label>
                                    <input class="form-control" type="text" id="datetime1" class="times" />
                                    <script>
                                        $('#datetime1').datetimepicker({
                                            format: 'HH:mm:ss'
                                        });
                                    </script>
                                </div>
                                <div class="form-group position-relative">
                                    <label for="end_time">End Time:</label>
                                    <input class="form-control" type="text" id="datetime" />
                                    <script>
                                        $('#datetime').datetimepicker({
                                            format: 'HH:mm:ss'
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                        <button type="button" onclick="addStaff()" class="btn btn-success">Add User</button>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <div class="alert alert-danger text-center mt-5">
            <i class="fa fa-eye-slash fa-5x" aria-hidden="true"></i>
            <h5 class="mt-3"><b>Hold up</b>, you don't have <b>permission</b> to view the contents of this page</h5>
        </div>
    {% endif %}
{% else %}
    <div class="alert alert-danger text-center mt-5">
        <i class="fa fa-eye-slash fa-5x" aria-hidden="true"></i>
        <h5 class="mt-3"><b>Hold up</b>, you don't have <b>permission</b> to view the contents of this page</h5>
    </div>
{% endif %}
    
{% endblock %}
