{% extends 'dashboard_base.html' %}

{% block title %}Attendance{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">Attendance</li>
      <li class="breadcrumb-item active" aria-current="page"> Manage </li>
 {% endblock %}

{% block content %}

       
        <div class="card shadow-lg mt-3 rounded">
              <div class="card-header d-flex justify-content-between " style="height:50px;">

                <h6>Attendance List</h6> 

                {% if  user.is_superuser and user.staffprofile.department == "ADMINISTRATOR" or user.is_superuser and user.staffprofile.department == "MANAGER" %}
                <a href="{% url 'dashboard.attendance_generate_pdf_report' %}" class="btn btn-success py-0" style=""><i class="fa fa-plus" aria-hidden="true"></i> Generate report</a> 
                {% endif %}
              </div>

              <div class="card-body"> 
                  <table id="attendance" class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                               <th class="bg-dark text-white">Employee</th>
                                <th class="bg-dark text-white">Date</th>
                                <th class="bg-dark text-white">Start Time</th>
                                <th class="bg-dark text-white">End Time</th>
                                <th class="bg-dark text-white">Late</th>
                                <th class="bg-dark text-white">Time Late(mins)</th>
                                <th class="bg-dark text-white">is working</th>
                                <th class="bg-dark text-white">Status</th>
                            </tr>
                        </thead>
                        <tbody> 
                             {% if  user.is_superuser and user.staffprofile.department == "ADMINISTRATOR" or user.is_superuser and user.staffprofile.department == "MANAGER" %}
                        {% for attendance in attendances %}
                         <tr class="text-dark">
                            <td>{{attendance.employee.first_name}} {{attendance.employee.last_name}}</td>
                            <td>{{attendance.date}}</td>
                            <td>{{attendance.shift.start_time}}</td>
                            <td>{{attendance.shift.end_time}}</td>
                            <td>{% if attendance.is_late %} Yes {% else %} No {% endif %}</td>
                            <td>{{attendance.minutes}}</td>
                            <td>{% if attendance.active == "Active" %}Yes{% else %}No{% endif %}</td>
                            <td>{{attendance.status}}</td>
                        </tr>
                        {% endfor %}
                      

                      {% elif user.is_staff %}
                      {% for attendance in user.attendance_set.all %}
                        
                       <tr class="text-dark">
                          <td>{{user.first_name}} {{user.last_name}}</td>
                          <td>{{attendance.date}}</td>
                          <td>{{attendance.shift.start_time}}</td>
                          <td>{{attendance.shift.end_time}}</td>
                          <td>{% if attendance.is_late %} Yes {% else %} No {% endif %}</td>
                          <td>{{attendance.minutes}}</td>
                          <td>{% if attendance.active == "Active" %}Yes{% else %}No{% endif %}</td>
                          <td>{{attendance.status}}</td>
                      </tr>
                      
                      {% endfor %}
                      {% endif %}
                        
                        </tbody>
                        <tfoot>
                            <tr>
                                
                            </tr>
                        </tfoot>
                    </table>
              </div>
              <script >
              
              $(document).ready(function (){

                new DataTable('#attendance');

              });

            </script>
        </div>
{% endblock %}



<div class="table-container">
                    <table class="table table-bordered table-striped">
                      <thead>
                        <tr>
                         
                          <th>employee</th>
                          <th>date</th>
                          <th>Start Time</th>
                          <th>End Time</th>
                          <th>Late</th>
                          <th>Time Late(mins)</th>
                          <th>is working </th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                     
                      </tbody>
                    </table>
                      
                  </div>