{% extends 'dashboard_base.html' %}
<style>
  .breadcrumb {
 display: flex;
 list-style: none;
 padding: 0;
 margin: 0;
 background-color: #f8f9fa;
 border-radius: 0.25rem;
}

.breadcrumb-item {
 display: flex;
 align-items: center;
}

.breadcrumb-item + .breadcrumb-item {
 padding-left: 0.5rem;
}

.breadcrumb-item + .breadcrumb-item::before {
 display: inline-block;
 padding-right: 0.5rem;
 color: #6c757d;
 content: "/";
}

.breadcrumb-item a {
 text-decoration: none;
 color: #007bff;
}

.breadcrumb-item.active {
 color: #6c757d;
}

.btn.btn-outline {
 display: inline-flex;
 align-items: center;
 padding: 0.375rem 0.75rem;
 font-size: 1rem;
 line-height: 1.5;
 border: 1px solid transparent;
 border-radius: 0.25rem;
 transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn.btn-outline:hover {
 color: #fff;
 background-color: #007bff;
 border-color: #007bff;
}

.breadcrumb-item i {
 margin-right: 0.5rem;
}
   </style>

     {% block breadcrumbs %}
     <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
    <li class="breadcrumb-item " aria-current="page"><a href="/dashboard/" class="btn btn-outline p-0"><i class="fas fa-home"></i> Dashboard </a></li>
    <li class="breadcrumb-item " ><a href="/dashboard/view_jobs/"  class="btn btn-outline p-0"> <i class="fa-solid fa-briefcase"></i>Jobs/Vacancy </a></li>
      <li class="breadcrumb-item active" aria-current="page"><i class="fa-solid fa-briefcase"></i> {{job.title}} </li>
      </ol>
      </nav>
      
 {% endblock %}

{% block head %} Job Details {% endblock %}
 
{% block content %}


<div class="card shadow  mb-5 mt-5 bg-body rounded">

  <div class="card-body">
     <h5> 
        {% if job.current_step == 1 %}
            Current stage : Identify Vacancy
        {% elif job.current_step == 2 %}
             Current stage : Requisition Process
        {% elif job.current_step == 3 %}
             Current stage : Vacancy Advertisement 
        {% elif job.current_step == 4 %}
             Current stage : Application Process
        {% elif job.current_step == 5 %}
             Current stage : Screening and Nomination
        {% elif job.current_step == 6 %}
             Current stage : Shortlisting and Interview
        {% elif job.current_step == 7 %}
             Current stage : Verification and Approval 
        {% elif job.current_step == 8 %}
             Current stage : Offer letter and Candidate Feedback
        {% elif job.current_step == 9 %}
             Current stage : Vacancy Cylce Complete
        {% endif %}
    </h5>
    <div class="stage">
    <div class="progress-container" id="progressBar">
        <div class="step">1</div>
        <div class="step">2</div>
        <div class="step">3</div>
        <div class="step">4</div>
        <div class="step">5</div>
        <div class="step">6</div>
        <div class="step">7</div>
        <div class="step">8</div>
        <div class="step">9</div>
    </div>
    <div class="label-container">
        <div class="label">Identifying</div>
        <div class="label">Requisition</div>
        <div class="label">Advertisement</div>
        <div class="label">Application</div>
        <div class="label">Screening</div>
        <div class="label">Interview</div>
        <div class="label">Verification</div>
        <div class="label">Offer</div>
        <div class="label">Complete</div>
    </div>
    <script>
        let current_step = {{job.current_step}};
        let steps = document.querySelectorAll(".step");
        
        steps.forEach((step, index) => {
            if (index < current_step - 1) {
                step.classList.add("completed");
            } else if (index === current_step - 1) {
                step.classList.add("current");
            }
        });
    </script>
  </div>
  </div>

</div>

<div class="job-details-container mt-5">
  <div class="card shadow  mb-5 bg-body rounded">
    <div class="card-header d-flex justify-content-between">
      <span>Job Title: <span id="jobTitle">{{job.title}}</span></span>
      <div>
        {% if job.current_step >= 4 %}
        <a href="/dashboard/filter_job_application/{{job.id}}"  class="btn btn-info ">view Applications </a>
        {% endif %}

        {% if job.current_step <= 4 %}
         <a class="btn btn-success " type="button" href="{% url 'dashboard.new_quiz' job.id %}">
           <i class="fa fa-plus"></i>
             Edit  Quiz
        </a>
        <a href=" /dashboard/edit_job/{{job.id}}"  class="btn btn-warning "><i class="fa fa-edit"></i> edit vacancy</a>
       {% endif %}
      </div>
    </div>
    <div class="card-body">
      <p class="card-text">
        <strong>Description:</strong> <span id="jobDescription">{{job.description}}</span>
      </p>
      <p class="card-text">
        <strong>End Date:</strong> <span id="endDate">{{job.end_date}}</span>
      </p>
      <p class="card-text">
        <strong>Location:</strong> <span id="location">{{job.location}}</span>
      </p>
      <p class="card-text">
        <strong>Salary Range:</strong> <span id="salaryRange">{{job.salary_range}}</span>
      </p>
      <p class="card-text">
        <strong>Job Type:</strong> <span id="jobType">{{job.job_type}}</span>
      </p>
      <p class="card-text">
        <strong>Industry:</strong> <span id="industry">{{job.industry}}</span>
      </p>
      <p class="card-text">
        <strong>Status:</strong> <span id="status">{{job.status}}</span>
      </p>
       <p class="card-text">
        <strong>Issued by:</strong> <span id="status">{{ job.user.email }}</span>
      </p>

       <p class="card-text">
        <strong>Responsible HOD:</strong> <span id="status">{{ job.assigned_to.email }}</span>
      </p>


      
    </div>
    <div class="card-footer">
      <a href="{% url 'dashboard.view_jobs' %}" class="btn btn-secondary">Back to Job List</a>
    </div>
  </div>

  <div class="card m-2 shadow mb-5 bg-body rounded">
    <div class="card-header bg-secondary">
      Academic Requirements
    </div>
    <div class="card-body">
     <ul class="list-group list-group-flush">
                {% for education in job.educations.all %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">{{education.field_of_study}}</div>
                       {{education.nqf_level}}
                    </div>    
                </li>
                
                {% endfor %}
              </ul>
    </div>

  </div>


 
 



  <div class="card m-2 shadow mb-5 bg-body rounded">
    <div class="card-header bg-secondary">
      Skills & Knowledge Requirements
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
                {% for skill in job.C_skills.all %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">{{skill.name}} -  {% if skill.is_required %} <span class="text-danger">required</span>{% endif %}</div>
                      {{skill.level}} 
                    </div>
                    
                </li>
                
                {% endfor %}
                {% for skill in job.S_skills.all %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">{{skill.name}} -  {% if skill.is_required %} <span class="text-danger">required</span>{% endif %}</div>
                      {{skill.level}} 
                    </div>
                    
                </li>
                
                {% endfor %}
              </ul>
    </div>

  </div>

 <div class="card m-2 shadow mb-5 bg-body rounded">
    <div class="card-header bg-secondary">
     Language requirements
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush d-flex justify-content-start">
                {% for langauge in job.j_languages.all %}
                <li class="list-group-item d-flex justify-content-between align-items-start m-2">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold"> Language : {{langauge}} </div>
                      <span> Speaking : {{langauge.speaking_proficiency.proficiency}} </span> <br>
                       <span> Reading :{{langauge.reading_proficiency.proficiency}}  </span> <br>
                        <span> Writing : {{langauge.writing_proficiency.proficiency}}</span> 
                    </div>
                    
                </li>
                
                {% endfor %}
                
              </ul>
    </div>

  </div>


   <div class="card m-2 shadow mb-5 bg-body rounded">
    <div class="card-header bg-secondary">
      Experience Requirements
    </div>
    <div class="card-body">
    <ul class="list-group list-group-flush">
                {% for experience in job.experiences.all %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">{{experience.name}}</div>
                       {{experience.duration}} years
                       
                    </div>
                    
                </li>
                
                {% endfor %}
              </ul>
    </div>
    
  </div>

  <div class="card m-2 shadow mb-5 bg-body rounded">
    <div class="card-header bg-secondary">
      Job Requirements & Responsibilities 
    </div>
    <div class="card-body">
    <ul class="list-group list-group-flush">
              {% for requirement in job.requirements.all %}
              <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold"></div>
                    {{requirement.description}}
                  </div>
                  
                  
              </li>
              
              {% endfor %}
            </ul>
    </div>
  </div>



</div>
{% endblock %}
