{% extends 'dashboard_base.html' %}

{% block title %}Job Details{% endblock %}


{% load static %}

{% block content %}

    <div class="interview-container">
        <h1>Interview  Panel</h1>
	 <div class="container mt-4">
        <div class="card shadow-sm p-3">
            <div class="card-body">
                <h5 class="card-title">Application Details</h5>
                <hr>
                <p class="mb-1"><strong>Application ID:</strong> 001</p>
                <p class="mb-1"><strong>Vacancy:</strong> {{vacancy}}</p>
                <p class="mb-0"><strong>Applicant:</strong> {{application.user}}</p>
            </div>
        </div>
    </div>
        
          <h1>Interviewers </h1>
        <div class="interview-grid" id="interview-ratingsList">
            {% for interview in interviewer %}
            <div class="interview-card">
                <div class="interview-info">
                    <strong>{{interview.user}} </strong> {% if user == interview.user %}<span class="text-primary">(you)</span>{% endif %}
                    <span class="interview-department">{{interview.user.staffprofile.department}}</span>
                    <span>{{interview.score}}</span>
                    <div class="interview-note">{{interview.note}}</div>
                </div>
                <div class="interview-timestamp">Rated on: {{interview.timestamp}}</div>
                <a href="{% url 'view_interview_scoreboard' vacancy.id application.id interview.user.id %}" class="interview-view-button">View Details</a>
            </div>
            {% endfor %}
        </div>
        <div class="interview-average">Average Rating: {{points}}%</div>
     
        {% if inter not in interviewer %}
        <div class="mt-3">
            <a href="{% url 'start_interview' vacancy.id application.id %}" class="btn btn-success w-100"> Start Interview </a>
        </div>
        {% endif %}
    </div>
{% endblock %}