{% extends 'dashboard_base.html' %}

{% block title %}Job Applications {% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page"> Jobs/Vacancy </li>
      <li class="breadcrumb-item active" aria-current="page"> Applications </li>
 {% endblock %}

{% block content %}
<div class="  mt-3 ">
       <a href="{% url 'dashboard.job_applications' %}" class="btn btn-info m-1">filter by : ALL
       </a>
    {% for applied_job in applied_jobs %}

      {% if applied_job.status == "closed" %}
        <a href="{% url 'filter_job_application' applied_job.id %}" class="btn btn-danger m-1">filter by : {{applied_job.title.title}}</a>
      {% else %}
        <a href="{% url 'filter_job_application' applied_job.id %}" class="btn btn-success m-1">filter by : {{applied_job.title.title}}
       </a>
      {% endif %}
    {% endfor %}
 
</div>
       <div class="row justify-content-center">
         <div class="col-9 mt-2">
          <div id="applications" style="display:block;">
            <div class="card shadow-lg mt-3 rounded">
                <div class="card-header d-flex justify-content-between " style="height:50px;">
                  <h6>ALL Application List</h6> 
                  {% if filtered %}
                  <div>
                        <button class="btn btn-danger" onclick="auto_shortlist('all','strict')">Strict filter</button>
                        <button class="btn btn-info" onclick="auto_shortlist('{{applications.0.job.id}}','standerd')">Standard filter</button>
                  </div>
                  {% else %}
                    <div> 
                        <button class="btn btn-dark-outline" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-cog"></i> </button>
                        <button class="btn btn-danger" onclick="auto_shortlist('all','strict')">Strict filter</button>
                        <button class="btn btn-info" onclick="auto_shortlist('all','standerd')">Standard filter</button>
                    </div>
                  {% endif %}
                       <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            ...
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                          </div>
                        </div>
                      </div>
                    </div>

                </div>

                <div class="card-body" style="overflow-x: scroll;"> 

                    <table id="application" class="table table-striped table-hover" style="width:100%">
                          <thead>
                              <tr>
                                  <th class="bg-dark text-white">Email </th>
                                  <th class="bg-dark text-white">Job Title</th>
                                  <th class="bg-dark text-white">Job type</th>
                                  <th class="bg-dark text-white">Job status</th>
                                  <th class="bg-dark text-white">Date</th>
                                  <th class="bg-dark text-white">Action</th>
                                  
                              </tr>
                          </thead>
                          <tbody> 
                               
                          {% for application in applications %}
                          {% if application.status == "pending" %}
                           <tr class="text-dark">
                              <td>{{application.user.email}}</td>
                              <td>{{application.job.title}}</td>
                              <td>{{application.job.job_type}}</td>
                              {% if application.job.status == 'closed' %}
                              <td><button class="btn btn-danger p-0">{{application.job.status}}</button></td>
                              {% else %}
                              <td><button class="btn btn-success p-0">{{application.job.status}}</button></td>
                              {% endif %}
                              <td>{{application.date}}</td>
                              <td> <a href="{% url 'dashboard.jobsekeer_details' application.user.profile.uuid %}" class="btn btn-primary p-1" data-bs-placement="top" title="view profile">
                                <i class="fa fa-eye"> </i></a>
                             <!--   <a onclick="move_to_shortlist({{application.id}})" class="btn btn-success p-1" data-bs-placement="top" title="Move to short list"><i class="fa fa-plus"> </i> short-list</a> -->
                           </td>
                          </tr>
                          {% endif%}
                              {% endfor %}                 
                          </tbody>
                          <tfoot>
                            <tr>      
                            </tr>
                          </tfoot>
                        </table>
                </div>
                <script >
                
                $(document).ready(function (){

                  new DataTable('#application');

                });

              </script>
             </div>
           </div> 
------------


          <div id="filterd" style="display:none;">
            <div class="card shadow-lg mt-3 rounded">
                <div class="card-header d-flex justify-content-between " style="height:50px;">
                  <h6>Filtered Application List</h6> 
                  
                  <button class="btn btn-warning">Auto Short-list</button>
                </div>

                <div class="card-body" style="overflow-x: scroll;"> 

                    <table id="filterd-table" class="table table-striped table-hover" style="width:100%">
                          <thead>
                              <tr>
                                  <th class="bg-dark text-white">Email </th>
                                  <th class="bg-dark text-white">Job Title</th>
                                  <th class="bg-dark text-white">Job type</th>
                                  <th class="bg-dark text-white">Job status</th>
                                  <th class="bg-dark text-white">Date</th>
                                  <th class="bg-dark text-white">Action</th>
                                  
                              </tr>
                          </thead>
                          <tbody> 
                               
                          {% for application in applications %}
                          {% if application.filterd_out == True %}
                           <tr class="text-dark">
                              <td>{{application.user.email}}</td>
                              <td>{{application.job.title}}</td>
                              <td>{{application.job.job_type}}</td>
                              {% if application.job.status == 'closed' %}
                              <td><button class="btn btn-danger p-0">{{application.job.status}}</button></td>
                              {% else %}
                              <td><button class="btn btn-success p-0">{{application.job.status}}</button></td>
                              {% endif %}
                              <td>{{application.date}}</td>
                              <td> <a href="{% url 'dashboard.jobsekeer_details' application.user.profile.uuid %}" class="btn btn-primary p-1" data-bs-placement="top" title="view profile">
                                <i class="fa fa-eye"> </i></a>
                               <a onclick="move_to_shortlist({{application.id}})" class="btn btn-success p-1" data-bs-placement="top" title="Move to short list"><i class="fa fa-plus"> </i> short-list</a></td>
                          </tr>
                          {% endif%}
                              {% endfor %}                 
                          </tbody>
                          <tfoot>
                            <tr>      
                            </tr>
                          </tfoot>
                        </table>
                </div>
                <script >
                
                $(document).ready(function (){

                  new DataTable('#filterd-table');

                });

              </script>
             </div>
           </div> 
----------------
           <div id="shortlistss" style="display:none;">
            <div class="card shadow-lg mt-3 rounded">
                <div class="card-header d-flex justify-content-between " style="height:50px;">
                  <h6>ALL Short-Listed Candidates List List</h6> 
                </div>

                <div class="card-body" style="overflow-x: scroll;"> 
                    <table id="shortlist-table" class="table table-striped table-hover" style="width:100%">
                          <thead>
                              <tr>
                                  <th class="bg-dark text-white">Email</th>
                                  <th class="bg-dark text-white">Job Title</th>
                                  <th class="bg-dark text-white">Job type</th>
                                  <th class="bg-dark text-white">Job Status</th>
                                  <th class="bg-dark text-white">Date</th>
                                  <th class="bg-dark text-white">Action</th>
                                  
                              </tr>
                          </thead>
                          <tbody> 
                               
                          {% for application in applications %}
                          {% if application.status == "short_list" %}
                           <tr class="text-dark">
                              <td>{{application.user.email}}</td>
                              <td>{{application.job.title}}</td>
                              <td>{{application.job.job_type}}</td>
                              {% if application.job.status == 'closed' %}
                              <td><button class="btn btn-danger p-0">{{application.job.status}}</button></td>
                              {% else %}
                              <td><button class="btn btn-success p-0">{{application.job.status}}</button></td>
                              {% endif %}
                              <td>{{application.date}}</td>
                              <td> 
                                     <button type="button" class="btn btn-success p-1" onclick="openModal('interview{{application.id}}','{{application.id}}')" data-bs-placement="top" title="Schedule interview">
                               <i class="fa fa-plus"></i> interview
                              </button>

                                <a class="btn btn-danger p-1" onclick="reject_applicantion({{application.id}})" data-bs-placement="top" title="Reject application">
                                  <i class="fa fa-trash"></i> 
                                </a>
                              </td>
                          </tr>
                          {% endif %}
                              {% endfor %}                 
                          </tbody>
                          <tfoot>
                            <tr>      
                            </tr>
                          </tfoot>
                        </table>
                </div>
                <script >
                
                $(document).ready(function (){

                  new DataTable('#shortlist-table');

                });

              </script>
            </div>
             {% for application in applications %}
                         <!-- Your modal structure -->
    <div class="modal fade" id="interview{{application.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog ">
        <div class="modal-content ">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Set Interview</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Title</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" value="{{application.user.first_name}} {{application.user.last_name}} - {{application.user.email}}" disabled>
            </div>
            <div class="form-group w-100">
              <label for="endDate">Select Date</label>
              <input type="date" value="" class="form-control" id="date_time{{application.id}}">
            </div>
            <div class="d-flex justify-content-between">
              <div class="form-group w-100 m-1" style="position:relative;">
                <label for="start_time">Start Time:</label>
                <input class="form-control" value="" type="time" id="date_start_time{{application.id}}" value="" />
              </div>
              <div class="form-group w-100 m-1 " style="position:relative;" value="">
                <label for="end_time">End Time:</label>
                <input class="form-control" type="time" value="" id="date_end_time{{application.id}}" value="" />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="set_interview({{application.id}})">Save changes</button>
          </div>
        </div>
      </div>
    </div>



                        {% endfor %}
           </div>   
       

        <div id="interview" style="display:none;">
            <div class="card shadow-lg mt-3 rounded">
                <div class="card-header d-flex justify-content-between " style="height:50px;">
                  <h6>ALL Interview Candidate List</h6> 
                </div>

                <div class="card-body" style="overflow-x: scroll;"> 
                    <table id="interview-table" class="table table-striped table-hover" style="width:100%">
                          <thead>
                              <tr>
                                  <th class="bg-dark text-white">Email</th>
                                  <th class="bg-dark text-white">Job Title</th>
                        
                                  <th class="bg-dark text-white">Interview Date</th>
                                  <th class="bg-dark text-white">start time</th>
                                  <th class="bg-dark text-white">end time</th>
                                  <th class="bg-dark text-white">Action</th>
                                  
                              </tr>
                          </thead>
                          <tbody> 
                               
                          {% for interview in interviews %}
                          {% if interview.application.status == "interview" %}
                           <tr class="text-dark">
                              <td>{{interview.user.email}}</td>
                              <td>{{interview.application.job.title}}</td>
                              <td>{{interview.date}}</td>
                              <td><b>{{interview.start_time}}</b></td>
                              <td><b>{{interview.end_time}}</b></td>
                              <td> 
                              <button type="button" class="btn btn-warning p-1 mb-1 mx-1" onclick="openModal1('interviews{{interview.id}}','{{interview.id}}')" data-bs-placement="top" title="Schedule interview">
                               <i class="fa fa-edit"> </i>
                               Reschedule
                              </button>
                                <a href="{% url 'dashboard.jobsekeer_details' interview.application.user.profile.uuid %}" class="btn btn-primary p-1 mx-1" data-bs-placement="top" title="View profile"><i class="fa fa-eye"></i></a> 

                              <a onclick="approve_interview({{interview.application.id}})" class="btn btn-success p-1 mx-1" data-bs-placement="top" title="Approve interview"><i class="fa fa-check"></i></a>
                              <a onclick="reject_applicantion({{interview.application.id}})" class="btn btn-danger p-1 mx-1" data-bs-placement="top" title="Reject interview"><i class="fa fa-trash"></i></a>
                            
                              </td>
                          </tr>
                          {% endif %}
                           <div class="modal fade" id="interviews{{interview.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog ">
        <div class="modal-content ">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Reschedule Interview</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Title</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" value="{{interview.application.user.first_name}} {{interview.application.user.last_name}} - {{interview.application.user.email}}" disabled>
            </div>
            <div class="form-group w-100">
              <label for="endDate">Select Date</label>
              <input type="date" value="{{interview.date}}" class="form-control" id="date_times{{interview.id}}">
            </div>
            <div class="d-flex justify-content-between">
              <div class="form-group w-100 m-1" style="position:relative;">
                <label for="start_time">Start Time:</label>
                <input class="form-control" value="{{interview.start_time}}" type="time" id="date_start_times{{interview.id}}" value="" />
              </div>
              <div class="form-group w-100 m-1 " style="position:relative;" value="">
                <label for="end_time">End Time:</label>
                <input class="form-control" type="time" value="{{interview.end_time}}" id="date_end_times{{interview.id}}" value="" />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="reschedule_interview({{interview.id}})">Save changes</button>
          </div>
        </div>
      </div>
    </div>
                              {% endfor %}                 
                          </tbody>
                          <tfoot>
                            <tr>  

                            </tr>
                          </tfoot>
                        </table>
                       
                       
                </div>
          
                
                <script >
                
                $(document).ready(function (){

                  new DataTable('#interview-table');


                });

                  function openModal(modalId,appId) {
      var modalElement = document.getElementById(modalId);
      var modal = new bootstrap.Modal(modalElement);
       flatpickr("#date_end_time"+appId, {
                    enableTime: true,
                    noCalendar: true,
                    dateFormat: "H:i",
                  });
                  flatpickr("#date_start_time"+appId, {
                    enableTime: true,
                    noCalendar: true,
                    dateFormat: "H:i",
                  });
      // Show the modal
      modal.show();

      // Initialize datetimepicker once the modal is fully shown
     
    }
     function openModal1(modalId,appId) {
      var modalElement = document.getElementById(modalId);
      var modal = new bootstrap.Modal(modalElement);
       flatpickr("#date_end_times"+appId, {
                    enableTime: true,
                    noCalendar: true,
                    dateFormat: "H:i",
                  });
                  flatpickr("#date_start_times"+appId, {
                    enableTime: true,
                    noCalendar: true,
                    dateFormat: "H:i",
                  });
      // Show the modal
      modal.show();

      // Initialize datetimepicker once the modal is fully shown
     
    }
                
                

              </script>
            </div>
           </div> 


        <div id="on_hold" style="display:none;">
            <div class="card shadow-lg mt-3 rounded">
                <div class="card-header d-flex justify-content-between " style="height:50px;">
                  <h6>ALL Candidates Rejected</h6> 
                  <button class="btn btn-info" onclick="purge()">Purge List</button>
                </div>

                <div class="card-body" style="overflow-x: scroll;"> 
                    <table id="on_hold-table" class="table table-striped table-hover" style="width:100%">
                          <thead>
                              <tr>
                                  <th class="bg-dark text-white">Email</th>
                                  <th class="bg-dark text-white">Job Title</th>
                                  <th class="bg-dark text-white">Job type</th>
                                  <th class="bg-dark text-white">Date</th>
                                  <th class="bg-dark text-white">Status</th>
                                  <th class="bg-dark text-white">Action</th>
                                  
                              </tr>
                          </thead>
                          <tbody> 
                               
                          {% for application in applications %}
                          {% if application.status == "rejected" %}
                           <tr class="text-dark">
                              <td>{{application.user.email}} </td>
                              <td>{{application.job.title}}</td>
                              <td>{{application.job.job_type}}</td>
                              <td>{{application.date}}</td>
                              {% if application.job.status == 'closed' %}
                              <td><button class="btn btn-danger p-0">{{application.job.status}}</button></td>
                              {% else %}
                              <td><button class="btn btn-danger p-0">{{application.job.status}}</button></td>
                              {% endif %}
                              move_to_shortlist
                              <td> 
                                <a href="{% url 'dashboard.jobsekeer_details' application.user.profile.uuid %}" class="btn btn-primary p-1" data-bs-placement="top" title="View Profile"><i class="fa fa-eye"></i> </a> 
                                <a onclick="move_to_shortlist({{application.id}})" class="btn btn-warning p-1" data-bs-placement="top" title="Move to short list">short-list</a>
                              </td>
                          </tr>
                          {% endif %}
                              {% endfor %}                 
                          </tbody>
                          <tfoot>
                            <tr>      
                            </tr>
                          </tfoot>
                        </table>
                </div>
                <script >
                
                $(document).ready(function (){

                  new DataTable('#on_hold-table');

                });

              </script>
            </div>
           </div> 


        <div id="approved" style="display:none;">
            <div class="card shadow-lg mt-3 rounded">
                <div class="card-header d-flex justify-content-between " style="height:50px;">
                  <h6>Approved Candidates List</h6> 
                </div>

                <div class="card-body" style="overflow-x: scroll;"> 
                    <table id="approved-table" class="table table-striped table-hover" style="width:100%">
                          <thead>
                              <tr>
                                  <th class="bg-dark text-white">Email </th>
                                  <th class="bg-dark text-white">Job Title</th>
                                  <th class="bg-dark text-white">Job type</th>
                                  <th class="bg-dark text-white">Date</th>
                                  <th class="bg-dark text-white">Status</th>
                                  <th class="bg-dark text-white">Action</th>
                                  
                              </tr>
                          </thead>
                          <tbody> 
                               
                          {% for application in applications %}
                          {% if application.status == "approved" %}
                           <tr class="text-dark">
                              <td>{{application.user.email}} </td>
                              <td>{{application.job.title}}</td>
                              <td>{{application.job.job_type}}</td>
                              <td>{{application.date}}</td>
                              {% if application.job.status == 'closed' %}
                              <td><button class="btn btn-danger p-0">{{application.job.status}}</button></td>
                              {% else %}
                              <td><button class="btn btn-danger p-0">{{application.job.status}}</button></td>
                              {% endif %}
                              <td> <a href="{% url 'dashboard.jobsekeer_details' application.user.profile.uuid %}"><i class="fa fa-eye"></i></a> </td>
                          
                          </tr>
                          {% endif %}
                              {% endfor %}                 
                          </tbody>
                          <tfoot>
                            <tr>      
                            </tr>
                          </tfoot>
                        </table>
                </div>
                <script >
                
                $(document).ready(function (){

                  new DataTable('#approved-table');

                });

              </script>
            </div>
           </div> 


        </div>



         <div class="col-3 mt-4">
           <div class="card p- shadow mb-5  rounded" >
      <div class="card-body">
        
      <ul id="applicants" class="list-group list-group-flush " style="cursor: pointer;">
        <li class="list-group-item emp-profile active" onclick="toggleV('applications')">All Applications</li>
        <li class="list-group-item emp-profile " onclick="toggleV('filterd')">Filterd Applications</li>
        <li class="list-group-item emp-profile" onclick="toggleV('shortlistss')">Short-listed</li>
        <li class="list-group-item emp-profile" onclick="toggleV('interview')">Interview</li>
        <li class="list-group-item emp-profile" onclick="toggleV('on_hold')">Rejected</li>
        <li class="list-group-item emp-profile" onclick="toggleV('approved')">Approved/Accepted</li>

      </ul>
 
      </div>

      <!-- <div class="card-body">
        <a href="#" class="card-link">Download CV</a>
        <a href="#" class="card-link">Download ID</a>
      </div> -->
    </div>
         </div>
       </div>
        
       <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Function to set the minimum date and time
            function setMinDateTime() {
                // Get the current date and time
                var now = new Date();
    
                // Format the date in YYYY-MM-DD format
                var today = now.toISOString().split('T')[0];
    
                // Get the current time in HH:MM format
                var time = now.toTimeString().split(' ')[0].slice(0, 5);
    
                // Set the min attribute for the date input
                var dateInput = document.querySelector('input[type="date"]');
                if (dateInput) {
                    dateInput.setAttribute('min', today);
                }
    
                // Set the min attribute for the start time input
                var startTimeInput = document.querySelector('input[type="time"]#date_start_times{{interview.id}}');
                if (startTimeInput) {
                    startTimeInput.setAttribute('min', time);
                }
    
                // Set the min attribute for the end time input
                var endTimeInput = document.querySelector('input[type="time"]#date_end_times{{interview.id}}');
                if (endTimeInput) {
                    // If end time should be after the start time, set it accordingly
                    // This example assumes the end time should be after the start time
                    endTimeInput.setAttribute('min', time);
                }
            }
    
            // Call the function to set the minimum date and time
            setMinDateTime();
        });
    </script>
    
{% endblock %}



