{% extends 'dashboard_base.html' %}

{% block title %}Job Details{% endblock %}



{% block breadcrumbs %}
      <li class="breadcrumb-item active" aria-current="page">Application</li>
      <li class="breadcrumb-item active" aria-current="page">Job seeker/</li>

      <li class="breadcrumb-item active" aria-current="page">{{user.staffprofile.department}}</li>
      
     {% endblock %} 


{% load static %}

{% block content %}


<div class="row p-2 ">

<!-- Combined Profile Sidebar and Details -->
<div class="col-sm-12 col-md-12 d-flex justify-content-center p-3">
    <div class="card shadow p-4 mb-5 bg-body rounded" style="width: 100%;">
        <div class="row">
    <!-- Profile Sidebar -->
<!-- <div class="col-sm-12 col-md-4 d-flex justify-content-center p-3">
    <div class="text-center shadow-sm p-4 rounded border bg-light d-flex flex-column align-items-center">
        <div class="rounded-circle border d-flex align-items-center justify-content-center position-relative mb-3" style="height: 150px; width: 150px; cursor: pointer;" onclick="removeImage('{{ emp.id }}')">
            {% if emp.profileimage.image.url %}
                <img src="{{ emp.profileimage.image.url }}" class="rounded-circle" style="height: 150px; width: 150px; object-fit: cover;">
            {% else %}
                <i class="fas fa-user position-absolute" style="font-size: 50px; color: black;"></i>
            {% endif %}
          
            <i class="fas fa-user position-absolute" style="font-size: 50px; color: black;"></i>
        </div>

        <h5 class="font-weight-bold">{{ emp.first_name }} {{ emp.last_name }}</h5>
        <p class="text-muted mb-2 text-center">
            <strong>Gender:</strong> {{ emp.staffprofile.gender }} <br>
            <strong>Age:</strong> {{ emp.staffprofile.age }}
        </p>

        {% if emp.id == user.id or user.is_superuser %}
        <form id="image-upload-form" method="post" enctype="multipart/form-data" class="mt-3">
            <div class="mb-3">
                <input class="form-control form-control-sm" name="image" id="image" type="file" accept="image/*">
                <input type="hidden" name="empID" id="empID" value="{{ emp.id }}">
                <button type="button" class="btn btn-primary btn-sm mt-2" onclick="uploadImage()">Upload Image</button>
            </div>
        </form>
        {% endif %}
    </div>
</div> -->


            <!-- Profile Details -->
            <div class="col-12">
                <!-- Navigation Tabs -->
                <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
                		
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#profileinformation" type="button" role="tab" aria-controls="profileinformation" aria-selected="true">
                            <i class="fa fa-user"></i> Profile Information
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-company-tab" data-bs-toggle="pill" data-bs-target="#companyinformation" type="button" role="tab" aria-controls="companyinformation" aria-selected="false">
                            <i class="fa fa-building"></i> Application Information
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-vacancies-tab" data-bs-toggle="pill" data-bs-target="#vacanciesc" type="button" role="tab" aria-controls="vacanciesc" aria-selected="false">
                            <i class="fa fa-briefcase"></i> Vacancies Created
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-supporting_documents-tab" data-bs-toggle="pill" data-bs-target="#supporting_documents" type="button" role="tab" aria-controls="supporting_documents" aria-selected="false">
                            <i class="fa fa-calendar-check"></i> supporting documents
                        </button>
                    </li>
                </ul>




             
                <!-- Tab Content -->
                <div class="tab-content" id="pills-tabContent">
                    <!-- Profile Information -->
                    <div class="tab-pane fade show active" id="profileinformation" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <h4>Profile Information</h4>
                        <hr>
                        <div class="row">
                            <div class="col-6 shadow-sm p-3 rounded">
                                <h5>Names</h5>
                                <p><b>First Name:</b> {{seeker.first_name}}</p>
                                <p><b>Last Name:</b> {{seeker.last_name}}</p>
                            </div>
                            <div class="col-6 shadow-sm p-3 rounded">
                                <h5>Personal</h5>
                                <p><b>Date of Birth:</b> {{ seeker.profile.dob }}</p>
                                <p><b>Gender:</b>  {{ seeker.profile.gender }}</p>
                                <p><b>Age:</b>  {{ seeker.profile.age }}</p>
                                <p><b>ID Number:</b> {{seeker.profile.idnumber}}</p>
                                <p><b>Marital Status:</b> {{ seeker.profile.maritial_status }}</p>
                                <p><b>Race:</b> {{ seeker.profile.race }}</p>
                            </div>
                            <div class="col-6 shadow-sm p-3 rounded">
                                <h5>Contact</h5>
                                <p><b>Email:</b> {{ seeker.email }}</p>
                                <p><b>Phone:</b> {{ seeker.profile.phone }}</p>
                                <p><b>LinkedIn:</b> <a href="{{ seeker.profile.linkedin_profile }}" target="_blank">{{ seeker.profile.linkedin_profile }}</a></p>
                                <p><b>Personal Website:</b> {{ seeker.profile.personal_website }}</p>
                            </div>
                            <div class="col-6 shadow-sm p-3 rounded">
                                <h5>Cover letter</h5>
                                <p>{{ sekker.profile.cover_letter }}</p>
                               
                            </div>
                        </div>
                    </div>

                    <!-- Company Information -->
                    <div class="tab-pane fade" id="companyinformation" role="tabpanel" aria-labelledby="pills-company-tab">
                        <h4>Application Information</h4>
                        <hr>
                        <div class="row">
                            <div class="col-6 shadow-sm p-3 rounded">
                                <h5>Application </h5>
                                <p><b>Job Title:</b> {{application.job.title}} </p>
                                <p><b>Date:</b> {{application.date}}</p>
                                <p><b>Status:</b> {{application.status}}</p>
                                <p><b>Previous Stage: </b> {{application.previous_stage}} </p>
                                <p><b>Current Stage: </b> {{application.current_stage}} </p>
                            </div>
                            <div class="col-6 shadow-sm p-3 rounded">
                                <h5>Filter Information</h5>
                                <p><b>is application filterd: </b> {% if application.is_filter %}YES{% else %}NO{% endif %}</p>

                                <p><b>Can Move to next Stage:</b> {{application.filterd_out}}</p>
                                <p><b>Reason: </b> {{application.reason}} </p>
                                <p><b>Is Rejected:</b> {% if application.is_rejected %}YES{% else %}NO{% endif %}</p>

                                <p><b>Is filter applied:</b> {% if application.is_filter_applied %}YES{% else %}NO{% endif %}</p>
                                <!-- Salary is not displayed -->
                            </div>
                            <div class="col-12 shadow-sm p-3 rounded">
                                <h5>Application stages </h5>
                                <table class="table table-bordered table-striped bg-dark">
                                    <thead class="bg-dark">
                                        <tr class="text-white">
                                            
                                          <th style="padding: 10px; text-align: left; font-weight: bold;">Date Received</th>
                                        <th style="padding: 10px; text-align: left; font-weight: bold;">Message</th>
                                        <th style="padding: 10px; text-align: left; font-weight: bold;">Status</th>
                                       
                                                            
                                        </tr>
                                    </thead>
                                    <tbody class="bg-secondary">
                                        {% for feedback in feedbacks %}
                                        
                                        <tr class="text-white bg-dark">
                                           
                                             <td style="padding: 10px;">{{ feedback.timestamp|date:"Y-m-d" }}</td>
                                            <td style="padding: 10px;">{{ feedback.message }}</td>
                                            <td style="padding: 10px;">
                                                {% if feedback.status == "pending" %}
                                
                                <button class="btn btn-warning pt-0 pb-0"> {{ feedback.status }}</button>
                                {% elif feedback.status == "rejected" %}
                                 <button class="btn btn-danger pt-0 pb-0"> {{ feedback.status }}</button>
                                 {% elif feedback.status == "approved" %}
                                  <button class="btn btn-success pt-0 pb-0"> {{ feedback.status }}</button>
                                  {% elif feedback.status == "Interview" %}
                                 <button class="btn btn-success pt-0 pb-0"> {{ feedback.status }}</button>
                                 {% elif feedback.status == "Short-List" %}
                                 <button class="btn btn-info pt-0 pb-0"> {{ feedback.status }}</button>
                                 {% else %}
                                 <button class="btn btn-dark pt-0 pb-0"> {{ feedback.status }}</button>

                                {% endif %}
                                            </td>
                                                               
                                           
                                        </tr>
                                       
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- Vacancies Created -->
                    <div class="tab-pane fade" id="vacanciesc" role="tabpanel" aria-labelledby="pills-vacancies-tab">
                        <h4>Vacancies Created</h4>
                        <hr>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Job Title</th>
                                    <th>Posted Date</th>
                                    <th>Date of Expiry</th>
                                    <th>Status</th>
                                    <th>Completed</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for job in emp.jobs.all %}
                                <tr>
                                    <td>{{job.id}}</td>
                                    <td><a href="{% url 'dashboard.job_details' job.id %}">{{job.title}}</a></td>
                                    <td>{{job.start_date}}</td>
                                    <td>{{job.end_date}}</td>
                                    <td><button class="btn {% if job.is_complete and job.is_approved %}btn-success{% elif job.is_complete %}btn-warning{% else %}btn-info{% endif %}">{{job.status}}</button></td>
                                    <td><button class="btn {% if job.is_complete %}btn-success{% else %}btn-danger{% endif %}" disabled>{{job.is_complete|yesno:"Yes,No"}}</button></td>
                                    <td>
                                        <a class="btn btn-warning" data-bs-toggle="modal" href="#JobToggle{{job.id}}" role="button"><i class="fa fa-edit"></i></a>
                                        <a class="btn btn-danger" onclick="deleteJob({{job.id}})" role="button"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <!-- supporting_documents -->
                    <div class="tab-pane fade" id="supporting_documents" role="tabpanel" aria-labelledby="pills-supporting_documents-tab">
                        <h4 class="">Supporting Documents</h4>
												<hr>
												<div class="row d-flex justify-content-center ">
														<table class="table table-bordered table-striped">
									            <thead>
									              <tr>
									               
									                
									                <th>Document Type</th>
									                <th>Date Uploaded</th>
									                <th>Action</th>
									              </tr>
									            </thead>
									            <tbody>
													
														{% for document in seeker.supportingdocuments_set.all %}
									                    <tr>
									                        <td>{{ document.document_type }}</td>
									                        <td>{{ document.uploaded_at }}</td>
									                       
									                        <td><a href="{{document.document.url}}" class="btn btn-primary my-1"> View </a>  <a href="{{document.document.url}}" class="btn btn-dark my-1" download> Download </a> 
									                       
									                    </tr>
									                    {% endfor %}
									              
									          </tbody>
									        </table>
											</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}