{% extends 'dashboard_base.html' %}

{% block title %}Add Quiz{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
<li class="breadcrumb-item"><a href="{% url 'dashboard.view_staff' %}"><i class="fa-solid fa-briefcase"></i>vacancy/Jobs</a></li>
<li class="breadcrumb-item"><a href="{% url 'dashboard.view_staff' %}"><i class="fa-solid fa-user-doctor"></i>{{job.title}}</a></li>

<li class="breadcrumb-item active" aria-current="page"><i class="fa-solid fa-square-plus"></i>Add Quiz</li>
    </ol>
</nav>
{% endblock %}


{% block content %}


        <div class="container my-5" id="addStaffPageComplete" style="display: none;">
            <div class="d-flex flex-column align-items-center">
                <i class="fa fa-user-plus fa-5x text-success mb-3" aria-hidden="true"></i>
                <h4 class="mt-3">Quiz Added Successfully</h4>
                <a href="{% url 'dashboard.view_staff' %}" class="btn btn-warning">View All</a>
            </div>
        </div>

        <div id="addStaffPage" class="form-container">
            <div class="d-flex justify-content-center">
                <div class="card shadow-lg p-4 w-75 mt-3">
                    <h5 class="card-title mb-4">Add New Quiz</h5>
                    <form>
                        <div class="">
                             <div class="form-group w-100">
                                    <label for="username">quiz title</label>
                                    <div class="d-flex justify-content-center">
                                        <input type="text" class="form-control " id="quiz_title" name="quiz_title" value="{{quiz.title}}" required>
                                        <button type="button" onclick="addQuiz({{job.id}})" class="btn btn-success m-3 mt-0 mb-0">Save</button>
                                    </div>
                                </div>
                            {% if quiz %}
                                <div class="form-group w-100">
                                    <label for="username">Add new Question</label>
                                    <div class="d-flex justify-content-center">
                                        <input type="text" class="form-control " id="question_title" name="question_title" required>
                                        <button type="button" onclick="addQuestion({{quiz.id}})" class="btn btn-outline-success m-3 mt-0 mb-0">Add</button>
                                    </div>
                                </div>

                            <div class="w-100">
                                <h5>Questions </h5>
                                
                                <hr>
                                {% for question in quiz.questions.all %}
                                <h6>
                                    {{question.question_text}} ?  
                                    <button type="button" onclick="toggleAnswer({{question.id}})" class="btn btn-outline-primary m-3 mt-0 mb-0 pt-0 pb-0">add answer</button> 
                                </h6>

                                <div class="form-group w-100 bg-dark  p-2 mb-2" id="answers{{question.id}}" style="display:none;">
                                   
                                    <div class="d-flex justify-content-between">
                                        <div class="w-75">
                                            <label for="answer" class="text-white">Answer</label>
                                            <input type="text" class="form-control " id="answer{{question.id}}" name="answer" required>
                                        </div>
                                        <div cass=" w-100">
                                            <label for="correct" class="text-white">Correct</label>
                                            <select  class="form-control " id="correct{{question.id}}" >
                                                 <option value="false" selected>No</option>       
                                                 <option value="true">Yes</option>       
                                            </select>
                                        </div>
                                        <button type="button" onclick="addAnswer('{{question.id}}')" class="btn btn-primary ">Add</button>
                                    </div>
                                </div>
                                 

                               <ul class="list-group">
                                {% for answer in  question.answers.all %}
                                    {% if answer.is_correct %}
                                   <li class="list-group-item text-success d-flex justify-content-between">
                                       {{answer.answer_text}} 
                                       <button class="btn btn-outline-danger text-danger p-1" onclick="deleteAnswer({{answer.id}})">
                                            <li class="fa fa-trash " > </li>
                                        </button>
                                   </li>
                                   {% else %}
                                    <li class="list-group-item d-flex justify-content-between">
                                       {{answer.answer_text}} <button class="btn btn-outline-danger b p-1 "onclick="deleteAnswer({{answer.id}})"><li class="fa fa-trash text-danger" onclick="deleteAnswer({{answer.id}})"> </li></button>
                                   </li>
                                   {% endif %}
                                {% endfor %}
                               </ul>
                            </div>
                            <br>
                            {% endfor %}
                            {% endif %}
                          <!--   <div class="col-md-6"> -->
                               <!--  <div class="form-group">
                                    <label for="username">title</label>
                                    <input type="text" class="form-control" id="username" name="username" required>
                                </div> -->
                                <!-- <div class="form-group">
                                    <label for="first_name">First Name:</label>
                                    <input type="text" class="form-control" id="first_name" name="first_name">
                                </div>
                                <div class="form-group">
                                    <label for="last_name">Last Name:</label>
                                    <input type="text" class="form-control" id="last_name" name="last_name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="email" class="form-control" id="email" name="email" required>
                                </div>
                                <div class="form-group">
                                    <label for="phone">Phone:</label>
                                    <input type="text" class="form-control" id="phone" name="phone" required>
                                </div>
                                <div class="form-group">
                                    <label for="idnumber">ID Number:</label>
                                    <input type="text" class="form-control" id="idnumber" name="idnumber" required>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password:</label>
                                    <input type="password" class="form-control" id="password" name="password" required>
                                </div>
                                <div class="form-group">
                                    <label for="password2">Confirm Password:</label>
                                    <input type="password" class="form-control" id="password2" name="password2" required>
                                </div> -->
                         <!--    </div> -->
                           <!--  <div class="col-md-6"> -->
                               <!--  <div class="form-group">
                                    <label for="job_title">Job Title:</label>
                                    <select class="form-control" id="job_title" name="job_title" required>
                                        <option value="Executive">Executive</option>
                                        <option value="CEO">CEO</option>
                                        <option value="Director">Director</option>
                                        <option value="Manager">Manager</option>
                                    </select>
                                </div> -->
                                <!-- <div class="form-group">
                                    <label for="department">Department:</label>
                                    <select class="form-control" id="department" name="department" required>
                                        <option value="HR">HR Team</option>
                                        <option value="IT">IT Staff</option>
                                        <option value="MANAGER">Manager</option>
                                        <option value="ADMINISTRATOR">Admin</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="super">Assign Admin Privileges:</label>
                                    <select class="form-control" id="super" name="super" required>
                                        <option value="False">No</option>
                                        <option value="True">Yes</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="staff">Is Staff:</label>
                                    <select class="form-control" id="staff" name="staff" disabled>
                                        <option value="True" selected>Yes</option>
                                        <option value="False">No</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="salary">Salary:</label>
                                    <select class="form-control" id="salary" name="salary" required>
                                        <option selected>R0,0 - R10,000</option>
                                        <option>R10,000 - R20,000</option>
                                        <option>R20,000 - R30,000</option>
                                        <option>R30,000 - R40,000</option>
                                        <option>R40,000 - R50,000</option>
                                        <option>R50,000 - R60,000</option>
                                        <option>R60,000 +</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="rate">Rate per Hour:</label>
                                    <input type="text" class="form-control" id="rate" name="rate">
                                </div>
                                <div class="form-group position-relative">
                                    <label for="start_time">Start Time:</label>
                                    <input class="form-control" type="text" id="datetime1" class="times" />
                                    <script>
                                        $('#datetime1').datetimepicker({
                                            format: 'HH:mm:ss'
                                        });
                                    </script>
                                </div>
                                <div class="form-group position-relative">
                                    <label for="end_time">End Time:</label>
                                    <input class="form-control" type="text" id="datetime" />
                                    <script>
                                        $('#datetime').datetimepicker({
                                            format: 'HH:mm:ss'
                                        });
                                    </script>
                                </div>
                            </div> -->
                        {% if quiz %}
                        <div class=" mt-2">
                            {% if not quiz.is_active %}
                            <div class="d-flex justify-content-center">    
                                <button type="button" onclick="enableOrDisableQuiz('enable', {{quiz.id}})" class="btn btn-info w-75">Enable Quiz</button>
                            </div>
                            {% else %}
                            <div class="d-flex justify-content-center">    
                                <button type="button" onclick="enableOrDisableQuiz('disable',{{quiz.id}})" class="btn btn-warning w-75">Disable Quiz</button>
                            </div>
                            {% endif %}
                        </div>
                        {% endif%}
                        </div> 
                    </form>
                </div>
            </div>
        </div>
   
    <script>
    function toggleAnswer(answerID) {
      var element = document.getElementById("answers"+answerID);
      if (element.style.display === "none") {
        element.style.display = "block"; // Show the element
      } else {
        element.style.display = "none";  // Hide the element
      }
    }
  </script>
{% endblock %}
