{% extends 'dashboard_base.html' %}

{% block title%}
Manage Users
{% endblock %}

{% load static %}
{% block breadcrumbs %}
      <li class="breadcrumb-item active" aria-current="page">Employee</li>
      <li class="breadcrumb-item active" aria-current="page">View All</li>
      
{% endblock %}

{% block description %} here you can manage all users {% endblock %}


{% block content %}


<!-- User Table Section -->
        <div class="table-container">
          <h3>Staff List</h3>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>

            {% for staff in staffs %}
              <tr>
                <td>EMP{{staff.id}}</td>
                <td><img src="{{staff.profileimage.image.url}}" class="rounded-circle" alt="..." style="width:30px;height: 30px;">{{staff.first_name}} {{staff.last_name}}</td>
                <td>{{staff.email}}</td>
                {% if staff.is_staff %}
               
                <td>{{staff.staffprofile.department}}</td>
                {% else %}
                <td>Applicant</td>
                {% endif %}
                {% if staff.is_active %}
                <td>Yes</td>
                {% else %}
                <td>Yes</td>
                {% endif %}
                  {% if staff.staffprofile.department == "ADMINISTRATOR" %}
                  <td><a href="{% url 'dashboard.employee_details' staff.id %}" class="btn btn-info" style="font-size: 12px;"> <i class="fa fa-eye" aria-hidden="true"></i></a></td>
                  {% else %}
                  {% if user.is_superuser %}
                  <td ><a href="{% url 'dashboard.update_staff' staff.id %}" class="btn btn-warning" style="font-size: 12px;"> <i class="fa fa-edit" aria-hidden="true"></i></a> 
                  <button class="btn btn-danger" type="button" role="button" onclick="deleteUser('{{staff.username}}')" style="font-size: 12px;" > <i class="fa fa-trash" aria-hidden="true"></i></button><a href="{% url 'dashboard.employee_details' staff.id %}" class="btn btn-info" style="font-size: 12px;"> <i class="fa fa-eye" aria-hidden="true"></i></a> </td>
                  
                  {% else %}
                    <td > 
                  <a href="{% url 'dashboard.employee_details' staff.id %}" class="btn btn-info" style="font-size: 12px;"> <i class="fa fa-eye" aria-hidden="true"></i></a>
                </td>
                  {% endif %}
                  {% endif %}


              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>


{% endblock %}