{% extends 'dashboard_base.html' %}

{% block title%}
View jobs
{% endblock %}
{% load static %}

{% block breadcrumbs %}
      <li class="breadcrumb-item active" aria-current="page">Employee</li>
      <li class="breadcrumb-item active" aria-current="page">Update</li>
      <li class="breadcrumb-item active" aria-current="page">Profile</li>
      
{% endblock %}


{% block description %}

<div class="d-flex justify-content-between mt-2 ">

  <div class="card text-bg-primary mb-3 mx-2 w-100 shadow-lg rounded" style="height:80px;">
  <div class="card-body"> 
    <div class="card-text d-flex justify-content-between">
      <div>
      <h6><b>All Jobs</b></h6>
      <h6>{{all_jobs}}</h6> 
        
      </div>
      <i class="fa fa-briefcase fa-3x" aria-hidden="true"></i>
    </div>
  </div>
</div>

<div class="card text-bg-success mb-3 mx-2 w-100 shadow-lg rounded" style="height:80px;">
  <div class="card-body"> 
    <div class="card-text d-flex justify-content-between">
      <div>
      <h6><b>Open Jobs</b></h6>
      <h6>{{open_jobs}}</h6>  
      </div>
      <i class="fa fa-briefcase fa-3x" aria-hidden="true"></i>
    </div>
  </div>
</div>

<div class="card text-bg-warning mb-3 mx-2 w-100 shadow-lg rounded" style="height:80px;">
  <div class="card-body"> 
    <div class="card-text d-flex justify-content-between">
      <div>
      <h6 class="text-white"><b>Pending Jobs</b></h6>
      <h6 class="text-white">{{pending_jobs}}</h6> 
      </div>
      <i class="fa fa-briefcase fa-3x text-white " aria-hidden="true"></i>
    </div>
  </div>
</div>

<div class="card text-bg-danger mb-3 mx-2 w-100 shadow-lg rounded" style="height:80px;">
  <div class="card-body"> 
    <div class="card-text d-flex justify-content-between">
      <div>
      <h6><b>Closed Jobs</b></h6>
      <h6>{{closed_jobs}}</h6> 
        
      </div>
      <i class="fa fa-briefcase fa-3x" aria-hidden="true"></i>
    </div>
  </div>
</div>

</div>




 {% endblock %}
{% block content %}



<div class="card shadow-lg rounded">
  <div class="card-header d-flex justify-content-between " style="height:50px;">

    <h6>Jobs / Vacancy List</h6> 

    <a href="{% url 'dashboard.add_job' %}" class="btn btn-success py-0" style=""><i class="fa fa-plus" aria-hidden="true"></i> Add Job/ Vacancy</a> 

  </div>
  


  <div class="card-body"> 
  {% if user.is_staff %}

  <!-- View Job Page -->
  <div id="viewJobPage" class="table-container" style="display: block;">

<table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr class="bg-dark text-white">
                <th class="bg-dark text-white" >ID</th>
                <th class="bg-dark text-white" >Job title</th>
                <th class="bg-dark text-white" >Issued By</th>
                <th class="bg-dark text-white">Date of expiry</th>
                <th class="bg-dark text-white">Status date</th>
                <th class="bg-dark text-white">completed</th>
                <th class="bg-dark text-white">Action</th>
            </tr>
        </thead>
        <tbody>
          {% for job in jobs %}
            {% if job.user == user or user.is_superuser %}
              <tr>
                <td>{{job.id}}</td>
                <td><b><a href="{% url 'dashboard.job_details' job.id %}" class="text-dark">{{job.title}}</a></b></td>
                <td>{{job.user.email}}</td>
                <td>{{job.end_date}}</td>

              

               
                
                {% if job.is_complete %}
                    {% if job.is_approved %}
                    <td><button class="btn btn-success" disabled>{{job.status}}</button></td>
                    {% else %}
                    <td><button class="btn btn-warning" disabled>{{job.status}}</button></td>
                    {% endif %}
                   <td><button class="btn btn-success" disabled>Yes</button></td>
                        {% if user.is_superuser %}
                        <td>
                          {% if not job.is_approved %}
                          <a class="btn btn-warning" data-bs-toggle="modal" href="#JobToggle{{job.id}}" role="button" style="font-size: 12px;"> <i class="fa fa-edit" aria-hidden="true"></i> </a>
                          <a class="btn btn-success m-1" type="button" onclick="ApproveJob({{job.id}})" role="button" style="font-size: 12px;"> <i class="fa fa-spinner" aria-hidden="true" style="font-size: 12px;"></i> </a>

                          {% endif %}
                          <a class="btn btn-danger"   type="button" onclick="deleteJob({{job.id}})" role="button" style="font-size: 12px;"> <i class="fa fa-trash" aria-hidden="true"></i> </a>
                        </td>
                        {% else %}
                            {% if not job.is_approved %}
                              <td><a class="btn btn-warning" data-bs-toggle="modal" href="#JobToggle{{job.id}}" role="button" style="font-size: 12px;"> <i class="fa fa-edit" aria-hidden="true"></i> </a></td>
                            {% endif %}
                        {% endif %}

                {% else %}
                <td><button class="btn btn-info" disabled>{{job.status}}</b></td>
                
                <td><button class="btn btn-danger" disabled>No</button></td>
                

                <td>
                  <button class="btn btn-success" data-bs-toggle="modal" href="#JobToggle{{job.id}}" role="button" style="font-size: 12px;"> <i class="fa fa-spinner" aria-hidden="true"></i> </button> 
                  <a class="btn btn-danger m-1"   type="button" onclick="deleteJob({{job.id}})" role="button" style="font-size: 12px;"style="font-size: 12px;">  <i class="fa fa-trash" aria-hidden="true"></i> </a>
                </td>
                {% endif %}
              </tr>
              {% else %}
              {% endif %}
             {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Job title</th>
                <th>Issued By</th>
                <th>Date of expiry</th>
                <th>Status date</th>
                <th>completed</th>
                <th>Action</th>
            </tr>
        </tfoot>
    </table>
    <script >
    
    $(document).ready(function (){

      new DataTable('#example');

    });

  </script>

    <!-- =============================================================================================== -->
         
        </div>



  {% for job in jobs %}
    <div class="modal fade" id="JobToggle{{job.id}}" aria-hidden="true" aria-labelledby="JobToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="JobToggleLabel">Job Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <div id="spinner{{job.id}}" class="text-center my-3" style="display: none;">
            <i class="fas fa-spinner fa-spin fa-3x"></i>
            <p>loading...</p>
          </div>

        <div id="editJob{{job.id}}" class="form-container" style="display: block;">
          <!-- <h3>Add Job Ad</h3> -->
          <form>
            <div class="form-group">
              <label for="jobTitle">Title</label>
              <input type="text" class="form-control" id="title{{job.id}}" placeholder="Job Title" value="{{job.title}}">
            </div>
            <div class="form-group">
              <label for="jobDescription">Description</label>
              <textarea class="form-control" id="description{{job.id}}" rows="5" placeholder="Job Description" >{{job.description}}</textarea>
            </div>
            <div class="form-group">
              <label for="endDate">End Date</label>
              <input type="date" class="form-control" id="end_date{{job.id}}" value='{{ job.end_date|date:"Y-m-d" }}'>
            </div>
            <div class="form-group">
              <label for="location">Location</label>
              <select class="form-control" id="location{{job.id}}" value="{{job.location}}">
                <option>{{job.location}}</option>
                <option>Johannesburg</option>
                <option>Cape Town</option>
                <option>Durban</option>
                <option>Pretoria</option>
                <option>Port Elizabeth</option>
              </select>
            </div>
            <div class="form-group">
              <label for="salaryRange">Salary Range</label>
              <select class="form-control" id="salary_range{{job.id}}" value="{{job.salary_range}}">
                <option>{{job.salary_range}}</option>
                <option>R20,000 - R30,000</option>
                <option>R30,000 - R40,000</option>
                <option>R40,000 - R50,000</option>
                <option>R50,000 - R60,000</option>
                <option>R60,000+</option>
              </select>
            </div>
            <div class="form-group">
              <label for="jobType">Job Type</label>
              <select class="form-control" id="job_type{{job.id}}" value="{{job.job_type}}">
                <option>{{job.job_type}}</option>
                <option>Remote</option>
                <option>Permanent</option>
                <option>Contract</option>
                <option>Internship</option>
                <option>Temporary</option>
              </select>
            </div>
            <div class="form-group">
              <label for="industry">Industry</label>
              <input type="text" class="form-control" id="industry{{job.id}}" placeholder="Industry" value="{{job.industry}}">
            </div>
            <div class="form-group">
              <label for="companyName">Company Name</label>
              <input type="text" class="form-control" id="company_name{{job.id}}" placeholder="Company Name" value="{{job.company_name}}">
            </div>
            <select class="form-select" multiple aria-label="multiple select example">
    <option selected>Open this select menu</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
            
          </form>
        </div>



        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <button class="btn btn-primary" onclick="updateJob({{job.id}},'spinner','editJob')">Save & Continue</button>
        </div>
      </div>
    </div>
  </div>
  <!-- =====================================Skills modal here ======================================= -->

  <div class="modal fade" id="skillToggle{{job.id}}" aria-hidden="true" aria-labelledby="skillToggleToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="skillToggleToggleLabel2">Skills required</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div id="spinnerSkill{{job.id}}" class="text-center my-3" style="display: none;">
            <i class="fas fa-spinner fa-spin fa-3x"></i>
            <p>loading...</p>
          </div>

          <div id="editSkill{{job.id}}" class="form-container" style="display: block;">
            <!-- <h3>EDIT SKILLS </h3> -->
              <div id="skillList{{job.id}}">
              
                <ul class="list-group list-group-flush">
                  {% for skill in job.skills.all %}
                  <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">{{skill.name}}</div>
                        {{skill.level}}
                      </div>
                      
                      <i class="fa-solid fa-square-minus min-icon" onclick="deleteSkill({{job.id}},'spinnerSkill','editSkill','skillToggle',{{skill.id}})"></i>
                  </li>
                  
                  {% endfor %}
                </ul>
              </div>

              <hr>
            <form class="d-flex justify-content-between">
              <div class="form-group">
                <label for="Skillname">Skill name</label>
                <input type="text" class="form-control" id="name{{job.id}}" placeholder="Skill ">
              </div>
              
              <div class="form-group">
                <label for="location">Level</label>
                <select class="form-control" id="level{{job.id}}">
                  <option>Beginner</option>
                  <option>Intermediate</option>
                  <option>Advanced</option>
                </select>
              </div>
            
                <div class="form-group mt-6">
                  <br>
                  <button class="btn btn-info" type="button" role="button" onclick="addJobSkill({{job.id}},'spinnerSkill','editSkill','skillToggle')" id="" >Add</button>
              </div>
              
            </form>
          </div>

        </div>
        <div class="modal-footer d-flex justify-content-between">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            <div>
              <button class="btn btn-secondary" data-bs-target="#JobToggle{{job.id}}" data-bs-toggle="modal" data-bs-dismiss="modal">Back</button>
              <button class="btn btn-primary" data-bs-target="#EducationToggle{{job.id}}" data-bs-toggle="modal" data-bs-dismiss="modal">Continue</button>
            </div>  
        </div>
      </div>
    </div>
  </div>
  <!-- =====================================EducationToggle modal here ======================================= -->
  <div class="modal fade" id="EducationToggle{{job.id}}" aria-hidden="true" aria-labelledby="EducationToggleToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="EducationToggleToggleLabel2">Education transcript</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div id="spinnerEducation{{job.id}}" class="text-center my-3" style="display: none;">
            <i class="fas fa-spinner fa-spin fa-3x"></i>
            <p>loading...</p>
          </div>

           <div id="editEducation{{job.id}}" class="form-container" style="display: block;">
            <!-- <h3>EDIT SKILLS </h3> -->
           
              <div id="educationList{{job.id}}">
              
                <ul class="list-group list-group-flush">
                  {% for education in job.educations.all %}
                  <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">{{education.level}}</div>
                         {{education.qualification}}
                      </div>
                      
                      <i class="fa-solid fa-square-minus min-icon" onclick="deleteEducation({{job.id}},'spinnerEducation','editEducation','EducationToggle',{{education.id}})"></i>
                  </li>
                  
                  {% endfor %}
                </ul>
              </div>


              <hr>
            <form class="d-flex justify-content-between">
              <div class="form-group ">
                <label for="level">Level</label>
                <input type="text" class="form-control" id="Elevel{{job.id}}" placeholder="eg. grade 12 or Information Technology">
              </div>
               <div class="form-group mx-2">
                <label for="qualification">qualification</label>
                <input type="text" class="form-control" id="qualification{{job.id}}" placeholder="eg. Matric or Diploma">
              </div>
              
              
              <div class="form-group ">
                  <br>
                  <button class="btn btn-info" type="button" role="button" onclick="addEducation({{job.id}},'spinnerEducation','editEducation','EducationToggle')" id="add_btn" >Add</button>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-between">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            <div>
              <button class="btn btn-secondary" data-bs-target="#skillToggle{{job.id}}" data-bs-toggle="modal" data-bs-dismiss="modal">Back</button>
              <button class="btn btn-primary" data-bs-target="#experienceToggle{{job.id}}" data-bs-toggle="modal" data-bs-dismiss="modal">Continue</button>
            </div>  
        </div>
      </div>
    </div>
  </div>

  <!-- =====================================experienceToggle modal here ======================================= -->
  <div class="modal fade" id="experienceToggle{{job.id}}" aria-hidden="true" aria-labelledby="experienceToggleToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="experienceToggleToggleLabel2">Experience</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div id="spinnerExperience{{job.id}}" class="text-center my-3" style="display: none;">
            <i class="fas fa-spinner fa-spin fa-3x"></i>
            <p>loading...</p>
          </div>

          <div id="editExperience{{job.id}}" class="form-container" style="display: block;">
            <!-- <h3>EDIT SKILLS </h3> -->

              <div id="experienceList{{job.id}}">
              
                <ul class="list-group list-group-flush">
                  {% for experience in job.experiences.all %}
                  <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">{{experience.name}}</div>
                         {{experience.duration}}
                      </div>
                      
                      <i class="fa-solid fa-square-minus min-icon" onclick="deleteExperience({{job.id}},'spinnerExperience','editExperience','experienceToggle',{{experience.id}})"></i>
                  </li>
                  
                  {% endfor %}
                </ul>
              </div>


              <hr>
            <form class="d-flex justify-content-between">
              <div class="form-group ">
                <label for="name">Experience</label>
                <input type="text" class="form-control" id="Ename{{job.id}}" placeholder="Expereince in what?">
              </div>
               <div class="form-group mx-2">
                <label for="duration">duration</label>
                <input type="text" class="form-control" id="Eduration{{job.id}}" placeholder="for how long">
              </div>
              
              
              <div class="form-group ">
                  <br>
                  <button class="btn btn-info "  type="button" role="button" onclick="addExperience({{job.id}},'spinnerExperience','editExperience','experienceToggle')" id="add_btn" >Add</button>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-between">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            <div>
              <button class="btn btn-secondary" data-bs-target="#EducationToggle{{job.id}}" data-bs-toggle="modal" data-bs-dismiss="modal">Back</button>
              <button class="btn btn-primary" data-bs-target="#requirementsToggle{{job.id}}" data-bs-toggle="modal" data-bs-dismiss="modal">Continue</button>
            </div>  
        </div>
      </div>
    </div>
  </div>

  <!-- =====================================requirementsToggle modal here ======================================= -->
  <div class="modal fade" id="requirementsToggle{{job.id}}" aria-hidden="true" aria-labelledby="requirementsToggleToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="requirementsToggleToggleLabel2">Requirements and Responsibilties</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div id="spinnerRequirements{{job.id}}" class="text-center my-3" style="display: none;">
            <i class="fas fa-spinner fa-spin fa-3x"></i>
            <p>loading...</p>
          </div>

          <div id="editRequirements{{job.id}}" class="form-container" style="display: block;">
            <!-- <h3>EDIT SKILLS </h3> -->
             


              <div id="requirementsList{{job.id}}">
              
                <ul class="list-group list-group-flush">
                  {% for requirement in job.requirements.all %}
                  <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">{{requirement.name}}</div>
                         {{requirement.duration}}
                      </div>
                      
                      <i class="fa-solid fa-square-minus min-icon" onclick="deleteRequirements({{job.id}},'spinnerRequirements','editRequirements','requirementsToggle',{{requirement.id}})"></i>
                  </li>
                  
                  {% endfor %}
                </ul>
              </div>



              <hr>
            <form class="d-flex justify-content-between">
              <div class="form-group m-1" style="width: 90%;">
                <label for="description">Requirements</label>
                <!-- <input type="text" class="form-control"  placeholder="description"> -->
                <textarea class="form-control" id="Rdescription{{job.id}}" rows="2" placeholder="job requirements and responsibilties "></textarea>
              </div>
              
      
              <div class="form-group ">
                  <br>
                  <br>
                  <button class="btn btn-info "  type="button" role="button" onclick="addRequirements({{job.id}},'spinnerExperience','editExperience','experienceToggle')" id="add_btn" >Add</button>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-between">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            <div>
              <button class="btn btn-secondary" data-bs-target="#EducationToggle{{job.id}}" data-bs-toggle="modal" data-bs-dismiss="modal">Back</button>
              {% if job.is_complete %}
              <button class="btn btn-success" data-bs-dismiss="modal">Save & Close</button>

              {% else %}
              <button class="btn btn-success" data-bs-target="#complete{{job.id}}" data-bs-toggle="modal" data-bs-dismiss="modal">Complete</button>
              {% endif %}
            </div>  
        </div>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="complete{{job.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">JOB AD COMPLETION</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-b{{job.id}}">
          <div id="spinnerComplete{{job.id}}" class="text-center my-3" style="display: none;">
            <i class="fas fa-spinner fa-spin fa-3x"></i>
            <p>loading...</p>
          </div class="d-flex justify-content-center">
          
           <button type="button" role="button" onclick="completeJob({{job.id}})" class="btn btn-primary ">SUBMIT JOB AD</button>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div> -->
      </div>
    </div>
  </div>

   {% endfor %}


  {% else %}

      <div style="margin-top: 20%;">
        
        <div class="d-flex justify-content-center ">
          
          <i class="fa fa-eye-slash fa-5x text-danger" aria-hidden="true"></i>
          
        </div>
        <div class="d-flex justify-content-center mt-5">
          <h5><b>Hold up</b>, You dont have <b class="text-danger">permision</b> to view the contents of this page </h5>
        </div>
      </div>

      {% endif %}
  {% endblock %}

  </div>
</div>