{% extends 'dashboard_base.html' %}

{% block title %}Leave{% endblock %}

{% block breadcrumbs %}
      <li class="breadcrumb-item active" aria-current="page">Employee</li>
      <li class="breadcrumb-item active" aria-current="page">Leave</li>
      
{% endblock %}
{% load static %}


{% block content %}

<table class="table table-bordered table-striped">
            <thead>
                <tr>
                	<th>Img</th>
                    <th>Name & Surname</th>
                    <th>Date Applied</th>
                    <th>Leave Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Satus</th>
                </tr>
            </thead>
            <tbody>
            {% for leave in leaves %}
                <tr>
                 <td><img src="{{leave.employee.profileimage.image.url}}" class="rounded-circle" alt="..." style="width:30px;height: 30px;"> 
                </td>
                <td>{{leave.employee.first_name}} {{leave.employee.last_name}}</td>
                <td>{{leave.date}}</td>
                <td>{{leave.lave_type}}</td>
                <td>{{leave.start_date}}</td>
                <td>{{leave.end_date}}</td>

                <td>
	               	{% if leave.status == "Pending" %}
	                	<button class="btn btn-warning" disabled>{{leave.status}}</button>
	               	{% elif leave.status == "Rejected" %}
	               		<button class="btn btn-danger" disabled>{{leave.status}}</button>
	               	{% elif leave.status == "Closed" %}
	               		<button class="btn btn-info" disabled>{{leave.status}}</button>
	               	{% else %}
	               		<button class="btn btn-success" disabled>{{leave.status}}</button>
	               	{% endif %}
                </td>
                    
                </tr>
            {% endfor %}
            </tbody>
           </table>
{% endblock %}